.patronage {
    margin-bottom: 
}

.patronage a img.alignleft {
    margin: 0 5px;
    width : auto;
    max-height: 150px;
}

div.ppt {
    display: none !important;
}


/*
 Theme Name: Sopot Classic
 Theme URI: http://www.sopotclassic.pl/
 Description: Sopot Classic
 Author: Quellio
 Author URI:  http://www.quellio.com/
 Description: Skórka dla strony Sopot Classic
 Version: 1.0

 -------------------------------------------
      01. CSS RESET
      02. MISC
      03. GENERAL
      04. LAYOUT
      05. NAVIGATION
      06. WIDGETS
      07. FOOTER & SOCIAL MEDIA
      08. PAGINATION
      09. PLAYER
      10. COMMENTS
      11. CONTACT
      12. MOSAIC     
      13. WORDPRESS CORE
 -------------------------------------------
 */


/* -------------------------------------------
    01. CSS RESET
   ------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    padding: 0;
    margin: 0;
    font-weight: inherit;
    font-size: 100%;
    font-style: inherit;
    vertical-align: baseline;
    font-family: inherit;
    outline: 0;
    border: 0;
    }



ol, ul { 
    list-style: none; 
    }

table {
    border-collapse: separate;
    border-spacing: 0;
    }

table {
    border-collapse: separate;
    border-spacing: 0;
    }

some_nowhitespace { 
    nowhitespace: afterproperty; 
    }

caption, th, td {
    font-weight: normal;
    text-align: left;
    }

blockquote:before, blockquote:after, q:before, q:after { 
    content: "" 
    }

blockquote, q {
    quotes: """" 
    }


/* -------------------------------------------
    02. MISC
   ------------------------------------------- */

.fixed { 
    display: block;
    }

.fixed:after {
    display: block;
    height: 0;
    visibility: hidden;
    content: ".";
    clear: both;
    }

.fixed {
    min-height: 1%; 
    }

* html .fixed {
    height: 1%; 
    }

.hidden { 
    display: none;
    }

.last-p {
    margin-bottom: 15px;
    margin-right: 15px;
    }

.clear { 
    clear: both;
    }

.block {
    display: block; 
    }

.hide {
    display: none;
    }


/* -------------------------------------------
    03. GENERAL
   ------------------------------------------- */

body {
    color: #000;
    font-size: 14px;
    line-height: 20px;
    background: #111;
    }

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 1.25;
    word-wrap: break-word;
    }

h1 { 
    font-size: 42px;
    }

h2 {
    font-size: 30px;
    }

h3 {
    font-size: 24px; 
    }

h4 {
    font-size: 18px; 
    }

h5 {
    font-size: 14px;
    }

h6 {
    font-size: 12px;
    }

a {
    transition: .3s ease-in-out;
    text-decoration: none;
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    }

a:hover {
    text-decoration: none;
    color: #fff;
    }

a img { 
    border: none;
    }

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { 
    text-decoration: none;
    }

strong {
    font-weight: bold;
    }

em { 
    font-style: italic; 
    }

p, ul, ol, pre, code { 
    margin-bottom: 10px;
    }

p.last { 
    margin-bottom: 0; 
    }

ul {
    list-style-type: circle;
    list-style-position: inside;
    }

pre, code {
    font-family: monospace;
    background-color: #f5f5f5;
    border-left-width: 5px;
    border: 1px solid #efefef;
    display: block;
    padding: 10px;
    font-size: 11px;
    }

table {
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: separate;
    border-top-width: 5px;
    border: 1px solid #efefef;
    }

th {
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 15px;
    }

td {
    border-top: 1px solid #efefef;
    padding: 10px 15px;
    }


tr.alt { 
    background-color: #f5f5f5; 
    }

.title-head {
    margin-bottom: 20px; 
}

.title-head h1 { 
    text-transform: uppercase 
    }


/* -------------------------------------------
    04. LAYOUT
   ------------------------------------------- */

#wrap {
    width: 980px;
    margin: 40px auto;
    padding: 20px 20px 0 20px;
    }

#header {
    width: 100%;
    height: 130px;
    margin: 0px auto 40px auto;
    }

.header-row {
    width: 980px;
    margin: 0 auto 0 auto;
    padding: 0;
    padding: 15px;
    }

#logo {
    float: left;
    width: 300px;
    }

.content-404 { 
    padding-bottom: 20px;
    }

.home-width {
    width: 770px; 
    }

.col-gallery {
    
    margin-bottom: 20px;
    float: left;
    width: 950px;
    padding: 15px 15px 0px 15px;
    overflow: hidden;
    }

.gallery {
    width: 1000px; 
    }

.col-post-media {
    
    margin-bottom: 20px;
    float: left;
    width: 950px;
    padding: 15px 15px 0px 15px;
    overflow: hidden;
    }

.col-home {
    
    margin-bottom: 26px;
    float: left;
    width: 630px;
    padding: 15px 15px 0px 15px;
    overflow: hidden;
    }

.post-media { 
width: 1000px; 
    }

.media-arc {
    float: left;
    width: 226px;
    }

.photo {
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
    width: 178px;
    height: 178px;
    }

.home-post { 
    margin-bottom: 16px; 
    }

.home-post.last { 
    margin-bottom: 0px 
    }

.single-col {  
    margin-bottom: 20px;
    width: 630px;
    display: inline-block;
    padding: 15px;
    }

.single-page-col {   
	width:950px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 15px;
    }

a.pp_download { 
	position:absolute;
	bottom:6px;
	right:55px;
	z-index:999;
	font-size:16px;
	color:#fff;
	text-transform:uppercase;
	padding:5px 8px 5px 8px;
	border-radius:3px;
	}
	
a.pp_download:hover { 
	background:#000;
	}
	

/* --- blog --- */

.blog-archive {  
    margin-bottom: 20px;
    float: left;
    width: 630px;
    padding: 15px;
    }

.col-blog-archive {
    float: left;
    width: 660px;
    }

.blog-arc-info {
    margin-bottom: 43px;
    top: 5px;
    color: #888;
    position: relative;
    }

.blog-home-info {
    margin-bottom: 38px;
    top: 0px;
    color: #888;
    position: relative;
    }

p.blog-user {
    background: url("images/icon-user.png") no-repeat;
    line-height: 15px;
    margin-right: 20px;
    padding-left: 20px;
    float: left;
    }

p.blog-date {
    background: url("images/icon-calendar.png") no-repeat;
    line-height: 15px;
    margin-right: 20px;
    padding-left: 18px !important;
    float: left;
    }

p.blog-comment {
    background: url("images/icon-comment.png") no-repeat;
    line-height: 15px;
    padding-left: 23px;
    float: left;
    }

p.blog-comment a {
    color: #888; 
    }

.blog-arc-cover {
    margin-bottom: 8px;
    position: relative;
    position: relative;
    }

.blog-arc-more a {
    margin-top: 10px;
    background: url("images/bar-opc.png");
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    color: #fff;
    padding: 5px 8px 5px 8px;
    }

.blog-arc-more2 a {
    margin-top: 0px;
    background: url("images/bar-opc.png");
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    color: #fff;
    padding: 5px 8px 5px 8px;
    }

.blog-arc-more a:hover { 
    color: #fff;
    }

h2.blog-arc-heading {
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 10px;
    font-size: 24px;
    }

h2.blog-arc-heading a { 
    color: #eee; 
    }

.blog-home {   
    margin-bottom: 20px;
    float: left;
    width: 630px;
    padding: 15px;
    padding-bottom: 8px;
    }

.blog-home-cover {
    margin-right: 10px;
    float: left;
    width: 220px;
    height: 200px;
    position: relative;
    overflow: hidden;
    }
.blog-home-cover a {
	display:block;
	text-align: right;
    }
.blog-home-cover a  img{
	border-right: 1px solid #aaa;
	padding-right: 9px;
	max-width: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
    }


/* --- event --- */

.event-archive {   
    margin-bottom: 20px;
    float: left;
    width: 630px;
    padding: 15px;
    }

.event-archive2 {  
    margin-bottom: 20px;
    float: left;
    width: 630px;
    padding: 15px 15px 8px 15px;
    }

.event-arc-cover {
    margin-right: 15px;
    float: left;
    width: 152px;
    height: 152px;
    position: relative;
    overflow: hidden;
    }

.event-arc-data {
    top: 14px;
    float: left;
    width: 74px;
    color: #fff;
    padding: 10px 15px 0px 6px;
    position: relative;
    text-align: center;
    }

.event-arc-day {
    line-height: 80px;
    float: left;
    display: inline;
    position: relative;
    font-size: 55px;
	text-align:center;
    width: 100%;
    }

.event-arc-month {
    text-transform: uppercase;
    position: relative;
    font-size: 30px;
    }

.event-arc-info {
    margin-bottom: 38px;
    top: 0px;
    color: #888;
    position: relative;
    }

.event-arc-info2 {
    margin-bottom: 8px;
    top: 0px;
    color: #888;
    position: relative;
    }

.event-arc-data2 {
    float: left;
    width: 115px;
    height: 50px;
    color: #fff;
    padding: 10px 1px 0px 6px;
    position: relative;
    border-right: 1px dashed #333;
    margin-right: 15px;
    }

.event-arc-day2 {
    float: left;
    top: 8px;
    position: relative;
    font-size: 35px;
    margin-right: 7px;
    }

.event-arc-month2 {
    top: 8px;
    text-transform: uppercase;
    position: relative;
    font-size: 35px;
    }

p.event-arc-venue {
    background: url("images/icon-venue.png") no-repeat;
    line-height: 15px;
    margin-right: 20px;
    padding-left: 18px;
	margin-left: 2px;
    float: left;
	margin-bottom:0px;
    }

p.event-arc-time {
    background: url("images/icon-clock.png") no-repeat;
    line-height: 15px;
    padding-left: 20px;
	margin-top:10px;
    float: left;
    }

.event-arc-bar {
    margin-top: 25px;
    margin-bottom: 30px;
    border-bottom: 1px dashed #333;
    float: left;
    width: 660px;
    }

h2.event-arc-title { 
    font-size: 22px;
    }

h2.event-arc-title a {
    font-weight: 600;
    top: 0px;
    color: #fff;
    position: relative;
    }

.event-upcoming {
    margin-bottom: 13px;
    height: 40px;
    }

.event-past {
    margin-top: 16px;
    margin-bottom: 13px;
    height: 40px;
    }

.event-past h3, .event-upcoming h3 {
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    font-size: 30px;
    }

.event-single-data { 
    margin-left: 0px; 
    margin-bottom: 46px;
    }

.event-single-day {
    line-height: 80px;
    margin-right: 15px;
    float: left;
    width: 75px;
    position: relative;
    font-size: 80px;
    font-family: 'open_sanssemibold', sans-serif;
    font-weight: bold;
    color: #f5821f;
    width: 100%;
    text-align: center;
    }

.event-single-month {
    text-transform: uppercase;
    top: 0px;
    position: relative;
    font-size: 20px;
    color: #004669;
    font-family: 'Candarab';
    width: 100%;
    text-align: center;
    }

.event-single-year {
    text-transform: uppercase;
    top: 4px;
    position: relative;
    font-size: 34px;
    font-family: 'open_sanssemibold', sans-serif;
    font-weight: bold;
    color: #000;
    width: 100%;
    text-align: center;
    }

.event-tickets a {
    margin-top: 11px;
    background: url("images/bar-opc.png");
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    color: #fff;
    padding: 5px 8px 5px 8px;
    }

.event-tickets3 a, .event-tickets3 span {
    margin-left: 95px;
    margin-top: 11px;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    padding: 5px 8px 5px 8px;
    }

.event-tickets a:hover {
    background: #333;
    background: url("images/bar-opc.png");
    }

.event-cancel-out p {
    margin-top: 11px;
    background: url("images/bar-opc.png");
    margin-bottom: 0px;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    color: #888;
    padding: 5px 8px 5px 8px;
    }

.event-tickets2 a {
    margin-top: -25px;
    background: url("images/bar-opc.png");
    text-transform: uppercase;
    text-decoration: none;
    float: right;
    color: #fff;
    padding: 5px 8px 5px 8px;
    }

.event-tickets2 a:hover {
    background: #333;
    background: url("images/bar-opc.png");
    }

.event-cancel-out2 p {
    margin-top: -25px;
    background: url("images/bar-opc.png");
    margin-bottom: 0px;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
    color: #888;
    padding: 5px 8px 5px 8px;
    }

.event-cover {
    margin-right: 14px;
    float: left;
    }

.event-text {
    float: right;
/*    width: 445px;*/
    width: 428px;
    }

#event-map {
    margin-top: 4px;
    width: 630px;
    height: 300px;
    display: inline-block;
    }

h2.event-title {
    margin-top: -4px;
    font-size: 24px;
    }

ul.event-meta {
    margin-top: 16px;
    border-top: 1px solid #a4a4a4;
    margin-bottom: 28px;
    border-bottom: 1px solid #a4a4a4;
    padding: 18px 0 0 0;
    font-size: 17px;
    }

.event-meta span {
    font-weight: normal;
    margin-right: 5px;
    width: 77px;
    display: inline-block;
    color: #888;
    }

.event-meta li {
    list-style: none;
    margin-bottom: 8px;
    margin-left: 20px;
    font-size: 95% !important;
    }

.event-meta li:last-child {
    margin-top: -5px;
    /*margin-left: 70px;*/
    display: inline-block;
    }

.event-meta .event-tickets { 
    font-size: 14px;
    }

.event-meta .event-cancel-out { 
    font-size: 14px;
    }

.event-meta a {
    color: #f5821f;
    text-decoration: none;
    float: left;
    }

.event-meta a:hover {
    background: #aaa;
    background: none;
    }

.event-meta .bilety_link {
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    float: left;
    text-transform: uppercase;
    padding: 5px 8px 5px 8px;
}

.blog-arc-more .bilety_link {
    color: #888888;
}

/* --- audio --- */

.audio-single-col {
    
    margin-bottom: 20px;
    width: 950px;
    display: inline-block;
    padding: 15px;
    }

.audio-home {
    float: left;
    width: 200px;
    }

.audio-single-cover {
    float: left;
    width: 240px;
    }

.audio-single {
    float: right;
    width: 695px;
    }

h2.audio-single-title {
    font-weight: 600;
    margin-bottom: 20px;
    top: -4px;
    position: relative;
    font-size: 24px;
    }

ul.audio-meta {
    margin-top: 16px;
    display: inline-block;
    font-size: 17px;
    }

.audio-meta span {
    font-weight: normal;
    margin-right: 5px;
    width: 95px;
    display: inline-block;
    }

.audio-meta li {
    list-style: none;
    margin-bottom: 8px;
    }

.audio-buy a {
    margin-top: 20px;
    background: url("images/bar-opc.png");
    margin-right: 5px;
    margin-bottom: -3px;
    text-transform: uppercase;
    text-decoration: none;
    top: -18px;
    float: left;
    color: #fff;
    padding: 5px 8px 5px 8px;
    position: relative;
    font-size: 17px;
    }

.audio-post { 
    margin-top: 20px; 
    }


/* --- photo --- */

.photo-home {
    float: left;
    width: 200px;
    }


/* --- video --- */

.video-home {
    float: left;
    width: 200px;
    }


/* --- slide --- */

#slide {
    margin-bottom: 35px;
    width: 980px;
    height: 400px;
    }

.slide-title {
    margin-top: 247px;
    margin-left: 80px;
    font-weight: 600;
    text-transform: uppercase;
    top: 0;
    left: 0;
    color: #fff;
    padding: 15px;
    z-index: 600;
    position: absolute;
    font-size: 35px;
    }

.slide-desc {
    margin-top: 321px;
    margin-left: 80px;
    font-weight: 600;
    text-transform: uppercase;
    top: 0;
    left: 0;
    color: #fff;
    padding: 8px 15px 8px 15px;
    z-index: 600;
    position: absolute;
    font-size: 20px;
    }

.cycle-slideshow {
    width: 980px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    }

.cycle-prev, .cycle-next {
    top: 0;
    width: 41px;
    height: 41px;
    cursor: pointer;
    z-index: 200;
    position: absolute;
    }

.cycle-prev:hover { 
    background: url("images/slide-prev-hover.png") no-repeat;
    }

.cycle-next:hover { 
    background: url("images/slide-next-hover.png") no-repeat;
    }

.cycle-prev {
    margin-top: 180px;
    background: url("images/slide-prev.png") no-repeat;
/*    margin-left: 5px;*/
    left: 0;
    }

.cycle-next {
    margin-top: 180px;
    background: url("images/slide-next.png") no-repeat;
/*    margin-right: 5px;*/
    right: 0;
    }


/* --- sidebar left --- */

.sidebar-left {
    margin-right: 20px;
    float: left;
    }

.content-left {   
    margin-bottom: 20px;
    float: right;
    width: 630px;
    display: inline-block;
    padding: 15px;
    }
	
.content-left .event-archive, .content-left .col-home, .content-left .blog-home {  
    margin-bottom: 30px;
    float: left;
    padding: 0px;
    background:none;
    }

.content-home-left {
    float: right;
    width: 660px;
    }

.content-home-left p {
    margin-bottom:0px;
    }


/* --- sidebar right --- */

.sidebar-right { 
    float: right; 
    }

.content-right {  
    margin-bottom: 20px;
    float: left;
    width: 630px;
    display: inline-block;
    padding: 15px;
    }

.content-right p, .content-home-right p {
    text-align: justify; 
    padding: 0;  
    margin: 0;
}
	
.content-right .event-archive, .content-right .col-home, .content-right .blog-home {  
    margin-bottom: 30px;
    float: left;
    padding: 0px;
    background:none;
    }

.content-home-right {
    float: left;
    width: 660px;
    }

.content-home-right p {
    margin-bottom:0px;
    }

/* -------------------------------------------
    05. NAVIGATION
   ------------------------------------------- */

#main {
    margin-top: 32px;
    float: right;
    height: 40px;
    }

.main-navigation { 
    float: left; 
    width: auto;
    }

.main-navigation ul { 
    list-style-type: none;
    }


/* --- menu --- */

#clubbmenu { 
    zoom: 1; 
    }

#clubbmenu > ul {
    margin: 0px;
    padding: 0;
    position: relative;
    }

#clubbmenu > ul li {
    background: url("images/bar-opc.png");
    list-style: none;
    margin-left: 5px;
    padding: 0;
    }

#clubbmenu:before, #clubbmenu:after, #clubbmenu > ul:before, #clubbmenu > ul:after {
    display: table;
    content: '';
    }

#clubbmenu:after, #clubbmenu > ul:after {
    clear: both;
    }

#clubbmenu > ul > li {
    float: left;
    position: relative;
    }

#clubbmenu > ul > li > a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 8px 15px 8px 15px;
    font-size: 17px;
    }

#clubbmenu > ul > li:hover > a { 
    color: #fff;
    }

#clubbmenu > ul > li > a > span { 
    line-height: 18px;
    }

#clubbmenu > ul > li.active > a, #clubbmenu > ul > li > a:active {
    color: #fff;
    }


/* --- menu childs --- */

#clubbmenu > ul ul {
    visibility: hidden;
    transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    top: 100px;
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 2;
    position: absolute;
    }
	
#clubbmenu > ul ul:before {
    background: transparent;
    top: -10px;
    width: 100%;
    height: 20px;
    content: '';
    position: absolute;
    }

#clubbmenu > ul ul li {
    list-style: none;
    margin-bottom: 2px;
    width: 100%;
    margin: 0;
    padding: 0;
    }

#clubbmenu > ul ul li a {
    text-transform: uppercase;
    text-decoration: none;
    width: 140px;
    color: #fff;
    display: block;
    padding: 8px 15px 8px 15px;
    font-size: 17px;
    }
	
#clubbmenu > ul ul li a:hover { 
    color: #fff; 
    }

#clubbmenu > ul li:hover ul {
    visibility: visible;
    top: 45px;
    left: 0;
    color: #000;
    margin: 0;
    opacity: 1;
    z-index: 2;
    }

#clubbmenu > ul li ul.menu-clicked {
    visibility: visible;
    top: 45px;
    left: 0;
    color: #000;
    margin: 0;
    opacity: 1;
    z-index: 2;
}
	
/* --- 3-level menu childs --- */

#clubbmenu ul ul > li {
    position:relative;
    display:block;
    }

#clubbmenu > ul ul ul li {
    list-style: none;
    width: 100%;
	margin-left:5px;
	width: 170px;
    }
	
#clubbmenu > ul ul li:hover ul {
    top: 0px;
    left: 170px;
    }

#clubbmenu > ul li:hover ul ul, #clubbmenu > ul li:hover ul ul ul, #clubbmenu > ul li.over ul ul, #clubbmenu > ul li.over ul ul ul {
    display:none;
    }
	
#clubbmenu > ul li:hover ul, #clubbmenu > ul li li:hover ul, #clubbmenu > ul li li li:hover ul, #clubbmenu > ul li.over ul, #clubbmenu > ul li li.over ul, #clubbmenu >ul li li li.over ul {
	display: block;
    }	
	
/* -------------------------------------------
    06. WIDGETS
   ------------------------------------------- */

.widgets-col {   
    margin-bottom: 26px;
    padding: 15px;
    overflow: hidden;
    }

.widgets-col-photo {   
    margin-bottom: 26px;
    padding: 15px 15px 0px 15px;
    overflow: hidden;
    }

.widgets-col-flickr { 
    margin-bottom: 26px;
    padding: 15px 15px 0px 15px;
    overflow: hidden;
    }

.widget.last {
    margin-bottom: 0px; 
    }

.sidebarnav {
    margin-bottom: 13px;
    height: 40px;
    }

.sidebarnav h3 {
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    font-size: 30px;
    }

.list-nav {
    margin-bottom: 10px;
    width: 300px;
    color: #fff;
    display: inline-block;
    }

.list-nav ul {
    margin-bottom: 0px;
    list-style-type: none;
    }

.list-nav ul li {
    margin-bottom: 10px; 
    }

.list-nav ul li img {
    margin-top: 5px;
    margin-right: 15px;
    float: left;
    }

.list-nav ul li a {
    font-weight: bold;
    color: #fff;
    }

.list-nav ul li a:hover {
    text-decoration: none; 
    }


/* --- links widget --- */

.blogroll {  
    padding: 15px;
    overflow: hidden;
    }

.widget_links ul { 
    margin-bottom: 26px;
    }

.widget_links li {
    list-style: none;
    float: left;
    width: 135px;
    }

.widget_links li:last-child {
    margin-bottom: 0px; 
    }

#footer .blogroll {
    background: none;
    padding: 0px;
    overflow: hidden;
    }

#footer .widget_links li {
    list-style: none;
    float: left;
    width: 115px;
    }


/* --- meta widget --- */

.widget_meta ul {   
    margin-bottom: 26px;
    padding: 15px;
    overflow: hidden;
    }

.widget_meta li {
    list-style: none;
    float: left;
    width: 135px;
    }

.widget_meta li:last-child {
    margin-bottom: 0px; 
    }


/* --- text widget --- */

.textwidget {  
    margin-bottom: 26px;
    padding: 15px;
    overflow: hidden;
    }

#footer .textwidget {
    background: none;
    margin-bottom: 26px;
    padding: 0px;
    overflow: hidden;
    }


/* --- recent comments widget --- */

#recentcomments {
    padding: 15px;
    overflow: hidden;
    }

.widget_recent_comments ul { 
    margin-bottom: 26px;
    }

.widget_recent_comments ul li {
    background: url("images/icon-comment.png") no-repeat 0 6px;
    padding-left: 23px;
    list-style-type: none;
    }

.widget_recent_comments li:last-child { 
    margin-bottom: 0px;
    }

#footer #recentcomments {
    background: none;
    padding: 0;
    overflow: hidden;
    }

#footer .widget_recent_comments li { 
    margin-bottom: 10px 
    }


/* --- recent widget --- */

.widget_recent_entries ul { 
    margin-bottom: 26px;
    padding: 15px 15px 5px 15px;
    overflow: hidden;
    }

.widget_recent_entries li {
    list-style: none;
    float: left;
    }

#footer .widget_recent_entries ul {
    background: none;
    margin-bottom: 26px;
    padding: 0px;
    overflow: hidden;
    }

#footer .widget_recent_entries li {
    list-style: none;
    float: left;
    }


/* --- archives widget --- */

.widget_archive ul {
    margin-bottom: 26px;
    padding: 15px 15px 5px 15px;
    overflow: hidden;
    }

.widget_archive li {
    list-style: none;
    float: left;
    width: 135px;
    }

#footer .widget_archive ul {
    background: none;
    margin-bottom: 26px;
    padding: 0px;
    overflow: hidden;
    }

#footer .widget_archive li {
    list-style: none;
    float: left;
    width: 115px;
    }


/* --- tagcloud widget --- */

.tagcloud {
    margin-bottom: 26px;
    padding: 15px 15px 11px 15px;
    overflow: hidden;
    }

.tagcloud a {
    background: url("images/bar-opc.png");
    margin-bottom: 4px;
    color: #fff;
    display: inline-block;
    padding: 2px 6px 2px 6px;
    }

.tagcloud a:hover {
    text-decoration: none;
    color: #fff;
    }

#footer .tagcloud {
    background: none;
    margin-bottom: 26px;
    padding: 0;
    overflow: hidden;
    }


/* --- categories widget --- */

.widget_categories ul {
    margin-bottom: 26px;
    padding: 15px;
    overflow: hidden;
    }

.widget_categories li {
    list-style: none;
    float: left;
    width: 135px;
    }

.widget_categories li:last-child { 
    margin-bottom: 0px;
    }

#footer .widget_categories ul {
    background: none;
    padding: 0px;
    }

#footer .widget_categories li {
    list-style: none;
    float: left;
    width: 115px;
    }


/* --- pages widget --- */

.widget_pages ul {
    margin-bottom: 26px;
    padding: 15px;
    overflow: hidden;
    }

.widget_pages li {
    list-style: none;
    float: left;
    width: 135px;
    }

.widget_pages li:last-child { 
    margin-bottom: 0px; 
    }

#footer .widget_pages ul {
    background: none;
    margin-bottom: 26px;
    padding: 0px;
    overflow: hidden;
    }

#footer .widget_pages li {
    list-style: none;
    float: left;
    width: 115px;
    }


/* --- menu widget --- */

.widget_nav_menu ul {
    margin-bottom: 26px;
    padding: 15px;
    overflow: hidden;
    }

.widget_nav_menu li {
    list-style: none;
    float: left;
    width: 135px;
    }

.widget_nav_menu li:last-child {
    margin-bottom: 0px; 
    }

.widget_nav_menu ul.sub-menu {
    margin-top: -5px;
    background: none;
    margin-bottom: -15px;
    }

.widget_nav_menu .sub-menu li {
    list-style-type: square; 
    }

.widget_nav_menu .sub-menu li:first-child { 
    margin-top: 0px;
    }

#footer .widget_nav_menu ul {
    background: none;
    margin-bottom: 26px;
    padding: 0;
    overflow: hidden;
    }

#footer .widget_nav_menu li {
    list-style: none;
    float: left;
    width: 115px;
    }

#footer .widget_nav_menu ul.sub-menu {
    margin-top: 0px;
    background: none;
    }

#footer .widget_nav_menu .sub-menu li {
    margin-left: 15px;
    list-style-type: square;
    }


/* --- twitter widget --- */

.tweets_list li {
	margin-top:15px;
	}

.tweets_list li:first-child {
	margin-top:0px;
	}
	
#footer .tweets_list li:first-child { 
    margin-top: -5px; 
    }
	
.wz_tweet_widget ul {
    margin-bottom: 26px;
    padding: 15px;
    overflow: hidden;
	list-style-image:url("images/twitter-light.png");
    }

.sidebar-right .twitter li {
    border-bottom: 1px dashed #333;
    list-style-type: none;
    padding: 0px 0px 9px 0px;
	margin-top:5px;
    }

.sidebar-right .twitter li:first-child { 
    margin-top: 0px; 
    }

.sidebar-right .twitter li:last-child { 
    margin-bottom: 0px; 
    }

.sidebar-left .twitter li {
    border-bottom: 1px dashed #333;
    padding: 0px 0px 9px 0px;
	margin-top:5px;
    }

.sidebar-left .twitter li:first-child {
    margin-top: 0px; 
    }

.sidebar-left .twitter li:last-child {
    margin-bottom: 0px; 
    }

#footer .wz_tweet_widget ul {
    background: none;
    margin-bottom: 26px;
    padding: 0;
    overflow: hidden;
    }

#footer .twitter li {
    margin-left: 0px;
    line-height: 20px;
    border-bottom: 1px dashed #333;
    list-style-type: none;
    padding: 10px 0px 10px 0px;
    }

#footer .twitter li:first-child {
    margin-top: -11px; 
    }


/* --- blog widget --- */

.blog-w ul { 
    margin-bottom: 0px; 
    }

.blog-w li {
    margin-bottom: 25px;
    list-style-type: none;
    height: 70px;
    }

.blog-w li:last-child { 
    margin-bottom: 0px; 
    }

.blog-w-data {
    margin-top: 6px;
    color: #888;
    }

#footer .widgets-col {
    background: none;
    padding: 0;
    }

#footer .blog-w li {
    margin-top: -20px;
    height: 70px;
    }

#footer .blog-w li img {
    margin-top: 5px;
    margin-right: 15px;
    float: left;
    }

#footer .blog-w li:first-child {
    margin-top: -5px 
    }

#footer .blog-w li a {
    font-weight: bold;
    color: #fff;
    }

#footer .blog-w li a:hover { 
    text-decoration: none; 
    }


/* --- event widget --- */

.event-widgets {
    margin-bottom: 25px;
    height: 83px;
    }

.event-widgets.last { 
    margin-bottom: 0px; 
    }

.event-w-status {
    margin-top: -4px;
    left: 13px;
    position: relative;
    }

.event-w-data {
    border-right: 1px dashed #333;
    float: left;
    width: 60px;
    height: 70px;
    }

.event-w-day {
    line-height: 40px;
    top: 6px;
    float: left;
    width: 55px;
    display: inline;
    position: relative;
    font-size: 50px;
	color:#000;
    }

.event-w-month {
    text-transform: uppercase;
    top: 10px;
    clear: both;
    position: relative;
    font-size: 25px;
    }

.event-w-title {
    top: 6px;
    left: 13px;
    position: relative;
    font-size: 16px;
    }

.event-w-title a {
    font-weight: 600;
    color: #fff;
    }

.event-w-title a:hover { 
    text-decoration: none 
}

.event-w-venue {
    margin-bottom: 2px;
    top: 7px;
    left: 13px;
    color: #888;
    position: relative;
    font-size: 14px;
    }

#footer .event-widgets {
    margin-bottom: 28px;
    height: 80px;
    }


/* --- photo widget --- */

.photo-widgets { 
    width: 120%; 
    }

.photos_widget {
    margin-bottom: 14px; 
    }

.photo-widget-cover {
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    }

#footer .widgets-col-photo {
    background: none;
    margin-bottom: 26px;
    padding: 0;
    overflow: hidden;
    }

#footer .photo-widget-cover {
    margin-right: 13px;
    margin-bottom: 13px;
    float: left;
    width: 68px;
    height: 68px;
    position: relative;
    overflow: hidden;
    }


/* --- video widget --- */

.videos_widget { 
    margin-bottom: 15px; 
    }

#footer .video-widget-cover {
    margin-bottom: 15px;
    float: left;
    width: 230px;
    height: 140px;
    position: relative;
    overflow: hidden;
    }


/* --- audio widget --- */

.widget-audio-title a {
    font-weight: bold;
    top: -5px;
    left: 0px;
    color: #fff;
    position: relative;
    font-size: 16px;
    }

.widget-audio-title a:hover { 
    text-decoration: none; 
    }

.widget-audio-meta {
    margin-top: 0px;
    top: -2px;
    color: #888;
    position: relative;
    font-size: 15px;
    }

ul.widget-audio-meta { 
   margin-bottom: 27px; 
   }

.widget-audio-cover {
    margin-right: 10px;
    float: left;
    }

ul.widget-audio-meta li { 
    margin-bottom: 3px; 
    }

.widget-audio-buy a {
    background: url("images/bar-opc.png");
    margin-right: 5px;
    margin-bottom: -3px;
    text-transform: uppercase;
    text-decoration: none;
    top: -18px;
    float: left;
    color: #fff;
    padding: 5px 8px 5px 8px;
    position: relative;
    }

.widget-audio-buy a:hover {
    background: #333;
    color: #fff;
    }

#footer .widget-audio-title { 
    margin-top: 2px; 
    }

#footer .widget-audio-title a {
    font-weight: bold; 
    }

#footer .widget-audio-title a:hover {
    text-decoration: none; 
    }

#footer .widget-audio-meta {
    margin-top: 0px;
    color: #888;
    }

#footer .widget-audio-meta li {
    list-style: none;
    margin-bottom: 3px;
    }

#footer .widget-audio-cover {
    float: left;
    width: 0px;
    height: 0px;
    position: relative;
    overflow: hidden;
    }

#footer .widget-audio-buy a {
    margin-right: 5px;
    margin-bottom: -3px;
    text-decoration: none;
    float: left;
    color: #fff;
    padding: 5px 8px 5px 8px;
    }


/* --- flickr widget --- */

.flickr {
    margin-top: 0px;
    width: 120%;
    }

.flickr_badge_image {
    margin-right: 13px;
    margin-bottom: 8px;
    float: left;
    }

.flickr_badge_image img {
    width: 68px;
    height: 68px;
    }

.sidebar-right .flickr {
    margin-top: 0px;
    width: 120%;
    }

.sidebar-right .flickr_badge_image {
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
    height: 80px;
    }

.sidebar-right .flickr_badge_image img {
    width: 80px;
    height: 80px;
    }

.sidebar-left .flickr {
    margin-top: 0px;
    width: 120%;
    }

.sidebar-left .flickr_badge_image {
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
    height: 80px;
    }

.sidebar-left .flickr_badge_image img {
    width: 80px;
    height: 80px;
    }

#footer .widgets-col-flickr {
    background: none;
    padding: 0;
    }


/* --- calendar widget --- */

#calendar_wrap {
    margin-bottom: 26px;
    padding: 15px;
    overflow: hidden;
    }

.widget_calendar table { 
    margin-bottom: -10px; 
    }

.widget_calendar table td {
    border: none; 
    }

.widget_calendar table#wp-calendar {
    border: none; 
    }

.widget_calendar table#wp-calendar caption {
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 15px;
    }

.widget_calendar thead>tr>th {
    text-align: center;
    background: url("images/bar-opc.png");
    width: 14.2857%;
    }

.widget_calendar tbody>tr>td {
    text-align: center;
    border: 1px dashed #333;
    padding: 8px;
    }

.widget_calendar tfoot {
    margin-bottom: 200px; 
    }

.widget_calendar tfoot>tr>td#prev {
    text-align: left;
    padding: 16px 0px 0px 0px;
    }

.widget_calendar tfoot>tr>td#next {
    text-align: right;
    padding: 0;
    }

.widget_calendar tfoot>tr>td#prev a, .widget_calendar tfoot>tr>td#next a {
    font-weight: 600;
    color: #fff;
    font-size: 16px;
    }

#footer #calendar_wrap {
    background: none;
    margin-bottom: 26px;
    padding: 0;
    overflow: hidden;
    }

#footer .widget_calendar thead>tr>th {
    text-align: center;
    background: url("images/bar-opc.png");
    padding: 8px;
    }


/* --- search widget --- */

.widget_search { 
    background: none;
    }

#searchform {
    margin-bottom: 26px;
    padding: 0px;
    overflow: hidden;
    }

#searchinput {
    float: left;
    width: 221px;
    color: #888;
    margin: 0 0px 0 0;
    border: none;
    padding: 10px 12px;
    outline: medium none;
    }

#search-button {
    background: url("images/bar-opc.png");
    transition: .3s ease-in-out;
    vertical-align: middle;
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    float: right;
    width: 40px;
    color: #fff;
    margin: 0;
    cursor: pointer;
    border: none;
    padding: 9px;
    }

#footer #searchform {
    background: none;
    margin-bottom: 26px;
    padding: 0px;
    }

#footer #searchinput {
    float: left;
    width: 163px;
    color: #888;
    margin: 0 8px 0 0;
    border: none;
    padding: 6px 8px;
    }

#footer #search-button {
    vertical-align: middle;
    float: right;
    width: 40px;
    color: #fff;
    margin: 0;
    cursor: pointer;
    border: none;
    padding: 5px;
    }


/* -------------------------------------------
    07. FOOTER & SOCIAL MEDIA
   ------------------------------------------- */

/* --- footer --- */

#footer {
    width: 100%;
    }

#footer a:hover { 
    color: #fff; 
    }

.footer-row {
    padding-left: 20px;
    width: 1000px;
    margin: 0px auto 0px auto;
    }

.footer-col {
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 0px;
    float: left;
    width: 230px;
    color: #fff;
    }

.footer-col h3 {
    font-weight: 600;
    margin-bottom: 22px;
    text-transform: uppercase;
    font-size: 22px;
    }

.footer-widget { 
    margin-bottom: 30px;
    }

.footer-bottom {
    margin-left: 0px;
    width: 100%;
    color: #888;
    padding: 19px 0px 34px 0px;
    font-size: 15px;
    }

.footer-bottom-copyright { float: left }

.footer-bottom-social {
    margin-top: -9px;
    padding-right: 20px;
    float: right;
    }


/* --- social media --- */

#footer-social {
    margin-bottom: -9px;
    float: right;
    }

#footer-social li.facebook a {
    background: url("images/social/facebook.png") no-repeat left 
    }

#footer-social li.facebook a:hover { 
    background: #3b5998 url("images/social/facebook.png") no-repeat left 
    }

#footer-social li.flickr1 a {
    background: url("images/social/flickr.png") no-repeat left 
    }

#footer-social li.flickr1 a:hover {
    background: #ff0084 url("images/social/flickr.png") no-repeat left 
    }

#footer-social li.youtube a {
    background: url("images/social/youtube.png") no-repeat left 
    }

#footer-social li.youtube a:hover {
    background: #ff3132 url("images/social/youtube.png") no-repeat left 
    }

#footer-social li.twitter a {
    background: url("images/social/twitter.png") no-repeat left 
    }

#footer-social li.twitter a:hover {
    background: #2daae1 url("images/social/twitter.png") no-repeat left 
    }

#footer-social li.vimeo a {
    background: url("images/social/vimeo.png") no-repeat left 
    }

#footer-social li.vimeo a:hover {
    background: #44b0de url("images/social/vimeo.png") no-repeat left 
    }

#footer-social li.digg a {
    background: url("images/social/digg.png") no-repeat left 
    }

#footer-social li.digg a:hover {
    background: #1b5791 url("images/social/digg.png") no-repeat left 
    }
	
#footer-social li.vk a {
    background: url("images/social/vk.png") no-repeat left 
    }

#footer-social li.vk a:hover {
    background: #476a91 url("images/social/vk.png") no-repeat left 
    }
	
#footer-social li.google a {
    background: url("images/social/google.png") no-repeat left 
    }

#footer-social li.google a:hover {
    background: #dc4937 url("images/social/google.png") no-repeat left 
    }
	
#footer-social li.rss  a {
    background: url("images/social/rss.png") no-repeat left 
    }

#footer-social li.rss a:hover { 
    background: #f2861d url("images/social/rss.png") no-repeat left 
    }
	
#footer-social li.lastfm a {
    background: url("images/social/lastfm.png") no-repeat left 
    }

#footer-social li.lastfm a:hover { 
    background: #cb2027 url("images/social/lastfm.png") no-repeat left 
    }

#footer-social li.pinterest a {
    background: url("images/social/pinterest.png") no-repeat left 
    }

#footer-social li.pinterest a:hover { 
    background: #cb2027 url("images/social/pinterest.png") no-repeat left 
    }
	
#footer-social li.amazon a {
    background: url("images/social/amazon.png") no-repeat left 
    }

#footer-social li.amazon a:hover { 
    background: #ff9900 url("images/social/amazon.png") no-repeat left 
    }
	
#footer-social li.beatport a {
    background: url("images/social/beatport.png") no-repeat left 
    }

#footer-social li.beatport a:hover { 
    background: #a8e00f url("images/social/beatport.png") no-repeat left 
    }
	
#footer-social li.myspace a {
    background: url("images/social/myspace.png") no-repeat left 
    }

#footer-social li.myspace a:hover { 
    background: #008dde url("images/social/myspace.png") no-repeat left 
    }
	
#footer-social li.instagram a {
    background: url("images/social/instagram.png") no-repeat left 
    }

#footer-social li.instagram a:hover { 
    background: #3f6f94 url("images/social/instagram.png") no-repeat left 
    }
	
#footer-social li.soundcloud a {
    background: url("images/social/soundcloud.png") no-repeat left 
    }

#footer-social li.soundcloud a:hover { 
    background: #ff5600 url("images/social/soundcloud.png") no-repeat left 
    }
	
#footer-social li.mixcloud a {
    background: url("images/social/mixcloud.png") no-repeat left 
    }

#footer-social li.mixcloud a:hover { 
    background: #6bdbf9 url("images/social/mixcloud.png") no-repeat left 
    }
	
#footer-social li.tumblr a {
    background: url("images/social/tumblr.png") no-repeat left 
    }

#footer-social li.tumblr a:hover { 
    background: #35506b url("images/social/tumblr.png") no-repeat left 
    }
	
#footer-social li {
    list-style: none;
    float: left;
    }

#footer-social li a {
    list-style: none;
    text-aling: center;
    float: left;
    width: 34px;
    height: 34px;
    margin: 0px 0px 0px 5px;
    }


/* -------------------------------------------
    08. PAGINATION
   ------------------------------------------- */

.pagination-pos {
    margin-top: -5px;
    margin-bottom: 15px;
    float: left;
    }

.pagination { 
    font-size: 16px; 
    }

.pagination .current {
    color: #fff;
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    }

.pagination span, .pagination a {
    background: url("images/bar-opc.png");
    text-decoration: none;
    float: left;
    width: auto;
    color: #fff;
    margin: 5px 5px 5px 0;
    display: block;
    padding: 10px 15px 10px 15px;
    }

span.page-of { 
    background: #fff; 
    }


/* -------------------------------------------
    09. PLAYER
   ------------------------------------------- */

.audiojsW {
    background: url("images/bar-opc.png");
    font-family: monospace;
    width: 270px;
    height: 25px;
    overflow: hidden;
    font-size: 12px;
    }

.audiojsW .error-messageW {
    line-height: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    float: left;
    width: 400px;
    color: #fff;
    height: 36px;
    margin: 0px 10px;
    display: none;
    overflow: hidden;
    }

.audiojsW .error-messageW a {
    white-space: wrap;
    border-bottom: 1px solid #999;
    padding-bottom: 1px;
    text-decoration: none;
    color: #eee;
    }

.audiojsW .play-pauseW {
    border-right: 1px solid #444;
    float: left;
    width: 20px;
    height: 40px;
    margin: 0px;
    padding: 4px 6px;
    overflow: hidden;
    }

.audiojsW .progressW {
    top: 0px;
    left: 0px;
    width: 0px;
    height: 5px;
    z-index: 1;
    position: absolute;
    }

.audiojsW .scrubberW {
    margin-top: 10px;
    background: #000;
    margin-left: 10px;
    margin-right: 4px;
    float: left;
    width: 117px;
    height: 5px;
    position: relative;
    overflow: hidden;
    }

.audiojsW .loadingW {
    background: url("images/player/load-small.png") center center no-repeat;
    width: 20px;
    height: 18px;
    }

.audiojsW .loadedW {
    background: #444;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 5px;
    position: absolute;
    }

.audiojsW .errorW {
    background: url("images/player/error-small.png") center center no-repeat;
    width: 20px;
    height: 18px;
    }

.audiojsW .pauseW {
    background: url("images/player/pause-small.png")  center center no-repeat;
    width: 20px;
    height: 18px;
    }

.audiojsW .playW {
    background: url("images/player/play-small.png") center center no-repeat;
    width: 20px;
    height: 18px;
    }

.audiojsW .timeW {
    border-left: 1px solid #444;
    line-height: 25px;
    float: left;
    color: #fff;
    height: 25px;
    margin: 0px 0px 0px 6px;
    padding: 0px 10px 0px 8px;
    font-size: 11px;
    }

.audiojsW .timeW strong {
    font-weight: normal;
    color: #888;
    padding: 0px 0px 0px 2px;
    }

.audiojsW .timeW em {
    font-style: normal;
    color: #fff;
    padding: 0px 2px 0px 0px;
    }

.audiojsW .playW { display: block }

.audiojsW audio {
    left: -1px;
    position: absolute;
    }

.audiojsW p {
    width: 25px;
    height: 40px;
    margin: 0px;
    cursor: pointer;
    display: none;
    }

.playingW .playW, .playingW .loadingW, .playingW .errorW {
    display: none; 
    }

.playingW .pauseW {
    display: block; 
    }

.loadingW .playW, .loadingZ .pauseZ, .loadingZ .errorW {
    display: none; 
    }

.loadingW .loadingW {
    display: block; 
    }

.errorW .timeW, .errorZ .playZ, .errorW .pauseW, .errorW .scrubberW, .errorW .loadingW {
    display: none; 
    }

.errorW .errorW {
    display: block; 
    }

.errorW .play-pauseW p {
    cursor: auto;
    }

.errorW .error-messageW {
    display: block;
    }

.audio-single .audiojsW {
    background: url("images/bar-opc.png");
    font-family: monospace;
    width: 695px;
    height: 40px;
    overflow: hidden;
    font-size: 12px;
    }

.audio-single .audiojsW .error-messageW {
    line-height: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    float: left;
    width: 400px;
    color: #fff;
    height: 36px;
    margin: 0px 10px;
    display: none;
    overflow: hidden;
    }

.audio-single .audiojsW .error-messageW a {
    white-space: wrap;
    border-bottom: 1px solid #999;
    padding-bottom: 1px;
    text-decoration: none;
    color: #eee;
    }

.audio-single .audiojsW .play-pauseW {
    border-right: 1px solid #444;
    float: left;
    width: 24px;
    height: 40px;
    margin: 0px;
    padding: 4px 6px;
    overflow: hidden;
    }

.audio-single .audiojsW .scrubberW {
    margin-top: 12px;
    background: #000;
    margin-left: 12px;
    margin-right: 6px;
    float: left;
    width: 515px;
    height: 16px;
    position: relative;
    overflow: hidden;
    }

.audio-single .audiojsW .progressW {
    top: 0px;
    left: 0px;
    width: 0px;
    height: 16px;
    z-index: 1;
    position: absolute;
    }

.audio-single .audiojsW .loadingW {
    background: url("images/player/load.png") center center no-repeat;
    width: 24px;
    height: 32px;
    }

.audio-single .audiojsW .loadedW {
    background: #444;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 16px;
    position: absolute;
    }

.audio-single .audiojsW .errorW {
    background: url("images/player/error.png") center center no-repeat;
    width: 24px;
    height: 32px;
    }

.audio-single .audiojsW .pauseW {
    background: url("images/player/pause.png")  center center no-repeat;
    width: 24px;
    height: 32px;
    }

.audio-single .audiojsW .playW {
    background: url("images/player/play.png") center center no-repeat;
    width: 24px;
    height: 32px;
    }

.audio-single .audiojsW .timeW {
    border-left: 1px solid #444;
    line-height: 40px;
    float: left;
    color: #fff;
    height: 40px;
    margin: 0px 0px 0px 6px;
    padding: 1px 12px 0px 12px;
    font-size: 13px;
    }

.audio-single .audiojsW .timeW strong {
    font-weight: normal;
    color: #888;
    padding: 0px 0px 0px 2px;
    }

.audio-single .audiojsW .timeW em {
    font-style: normal;
    color: #fff;
    padding: 0px 2px 0px 0px;
    }

.audio-single .audiojsW .playW {
    display: block 
    }

.audio-single .audiojsW audio {
    left: -1px;
    position: absolute;
    }

.audio-single .audiojsW p {
    width: 25px;
    height: 40px;
    margin: 0px;
    cursor: pointer;
    display: none;
    }

.audio-single .playingW .playW, .playingW .loadingW, .playingW .errorW {
    display: none; 
    }

.audio-single .playingW .pauseW {
    display: block; 
    }

.audio-single .loadingW .playW, .loadingZ .pauseZ, .loadingZ .errorW {
    display: none; 
    }

.audio-single .loadingW .loadingW {
    display: block; 
    }

.audio-single .errorW .timeW, .errorZ .playZ, .errorW .pauseW, .errorW .scrubberW, .errorW .loadingW { 
    display: none; 
    }

.audio-single .errorW .errorW {
    display: block;
    }

.audio-single .errorW .play-pauseW p { 
    cursor: auto;
    }

.audio-single .errorW .error-messageW {
    display: block; 
    }

.audio-single ol {
    margin-top: -10px;
    list-style: decimal inside;
    padding: 0px;
    }

.audio-single li {
    line-height: 40px;
    border-bottom: 1px dashed #333;
    color: #888;
    cursor: pointer;
    padding: 0px 5px 0px 5px;
    position: relative;
    font-size: 20px;
    }

.audio-single li:first-child {
    margin-top: 30px; 
    }

.audio-single li a { 
    color: #fff;
    }

.audio-single li.playing {
     
    }

.audio-single li.playing:before {
    top: 4px;
    right: 0px;
    width: 32px;
    height: 32px;
    content: url("images/player/song.png");
    position: absolute;
    }

.audio-single li.playing a {
    color: #fff; 
    }

#footer .audiojsW {
    background: url("images/bar-opc.png");
    font-family: monospace;
    width: 230px;
    height: 25px;
    overflow: hidden;
    font-size: 12px;
    }

#footer .audiojsW .scrubberW {
    margin-top: 10px;
    background: #000;
    margin-left: 10px;
    margin-right: 4px;
    float: left;
    width: 77px;
    height: 5px;
    position: relative;
    overflow: hidden;
    }

.widget-play-list ol {
    margin-top: -5px;
    list-style: decimal inside;
    padding: 0px;
    }

.widget-play-list li {
    line-height: 30px;
    border-bottom: 1px dashed #333;
    color: #888;
    cursor: pointer;
    padding: 0px 5px 0px 5px;
    position: relative;
    font-size: 14px;
    }

.widget-play-list li:first-child {
    margin-top: 15px;
    }

.widget-play-list li:last-child { 
    margin-bottom: -10px; 
    }

.widget-play-list li a {
    color: #fff; 
    }

.widget-play-list li.playing {
    
    }

.widget-play-list li.playing:before {
    line-height: 14px;
    top: 5px;
    right: 3px;
    width: 14px;
    height: 14px;
    margin: 0px;
    padding: 3px;
    content: url("images/player/song-small.png");
    position: absolute;
    }

.widget-play-list li.playing a {
    color: #fff; 
    }

#footer .widget-play-list li {
    line-height: 30px;
    border-bottom: 1px dashed #333;
    color: #888;
    cursor: pointer;
    padding: 0px 5px 0px 5px;
    position: relative;
    font-size: 13px;
    }

#footer .widget-play-list li.playing {  }

#footer .widget-play-list li.playing:before {
    line-height: 14px;
    top: 5px;
    right: 3px;
    width: 14px;
    height: 14px;
    margin: 0px;
    padding: 3px;
    content: url("images/player/song-small-widget.png");
    position: absolute;
    }

#footer .widget-play-list li.playing a {
    color: #fff;
    }


/* -------------------------------------------
    10. COMMENTS
   ------------------------------------------- */

#comment {
    margin-top: 5px;
    
    color: #fff;
    border: 1px dashed #333;
    padding: 0 0 0 5px;
    }

#author {
    
    color: #fff;
    border: 1px dashed #333;
    }

#email {
    
    color: #fff;
    border: 1px dashed #333;
    }

#url {
    
    color: #fff;
    border: 1px dashed #333;
    }

.comment-form-author label {
    margin-bottom: 20px; 
    }

.comments-hr {
    margin-top: 30px;
    margin-bottom: 15px;
    border-bottom: 1px dashed #333;
    }

#comments {
    margin-top: 0px;
    clear: both;
    }

#comments .comment-body blockquote p:last-child {
    margin-bottom: 24px; 
    }

#comments .comment-body p:last-child { 
    margin-bottom: 12px; 
    }

#comments .comment-body ul, #comments .comment-body ol {
    margin-bottom: 18px; 
    }

#comments ol li.comment {
    margin: 0 0 10px;
    padding: 0px;
    position: relative;
    }

#comments .navigation {
    padding: 0 0 18px; 
    }

#comments .pingback {
    margin-bottom: 18px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 18px;
    }

#comments .pingback .url {
    font-style: italic;
    font-size: 12px;
    }

#comments .pingback p {
    line-height: 12px;
    color: #888;
    margin: 0;
    display: block;
    font-size: 12px;
    }

h3#comments-title {
    font-weight: 400;
    margin-bottom: 14px;
    padding: 10px 0px;
    font-size: 22px;
    }

h3#reply-title {
    font-weight: 400;
    margin: 18px 0;
    font-size: 22px;
    }

.commentlist {
    list-style: none;
    margin: 0;
    }

.commentlist li.comment+li.pingback {
    margin-top: -6px; 
    }

.commentlist li:last-child {
    margin-bottom: 0;
    border-bottom: none;
    }

.commentlist .children { 
    list-style: none; 
    }

.commentlist .children li {
    margin: 0;
    border: none;
    }

.commentlist .avatar {
    margin-right: 8px;
    top: 0;
    left: 0;
    float: left;
    width: 40px;
    height: 40px;
    }

.commentlist ol { 
    list-style: decimal;
    }

.comment-author cite {
    font-weight: 600;
    font-size: 16px;
    }

.comment-meta {
    font-weight: 400;
    line-height: 50px;
    margin: -16px 0 -4px;
    font-size: 12px;
    }

.comment-meta a:link, .comment-meta a:visited {
    text-decoration: none;
    color: #888;
    }

a.comment-edit-link {
    color: #888;
    }

.reply {
    margin-top: -22px;
    float: right;
    }

.reply a {
    background: url("images/bar-opc.png");
    text-transform: uppercase;
    color: #fff;
    padding: 5px 8px 5px 8px;
    font-size: 12px;
    }

.nopassword, .nocomments { 
    display: none;
    }

#respond {
    margin-top: 10px;
    margin-bottom: 0px;
    position: relative;
    overflow: hidden;
    }

#respond .form-allowed-tags {
    margin-top: 10px;
    background: #f3f3f3;
    line-height: 18px;
    color: #888;
    padding: 10px;
    font-size: 14px;
    }

#respond .form-allowed-tags code {
    font-size: 14px;
    }

#respond .comment-notes { 
    margin-bottom: 1em; 
    }

#respond .form-submit {
    margin: 12px 0; 
    }

#respond .form-submit input {
    width: auto;
    font-size: 12px;
    }

#respond .required {
    font-weight: bold;
    color: #fff;
    }

#respond textarea { 
    width: 99%;
    }

#respond label { 
    font-size: 16px;
    }

#respond input {
    width: 98%;
    margin: 0 0 9px;
    }

.form-allowed-tags { 
    line-height: 1em; 
    }

.children #respond {
    margin-top: 10px;
    margin-bottom: 20px;
    }

#cancel-comment-reply-link {
    font-weight: normal;
    line-height: 18px;
    font-size: 12px;
    }

ul.children { 
    list-style-type: none;
    }

ul.children li { 
    list-style-type: none;
    }

form#commentform input {
    margin-top: 5px;
    padding: 7px;
    }

p.comment-form-author, p.comment-form-email, p.comment-form-url {
    width: 50%;
    }

p.form-submit input#submit {
    transition: .3s ease-in-out;
    background: url("images/bar-opc.png");
    text-transform: uppercase;
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 8px 8px 6px 8px;
    outline: none;
    }

ol.commentlist { 
    margin-right: 0px;
    }

ul.children {
    margin-top: 10px;
    background: url("images/reply-comment.png") no-repeat;
    background-position: 5px 0px;
    padding: 0px 0px 0px 50px;
    }

li.comment > div {
    padding: 10px 10px;
    }

p.logged-in-as { 
    font-size: 16px;
    }


/* -------------------------------------------
    11. CONTACT
   ------------------------------------------- */

#commentsText {
    color: #fff;
    border: 1px dashed #333;
    padding: 0 0 0 5px;
    }

form#contact input {
    color: #fff;
    border: 1px dashed #333;
    padding: 5px;
    }

.button-send#submitmail {
    transition: .3s ease-in-out;
    background: url("images/bar-opc.png");
    text-transform: uppercase;
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 8px 8px 6px 8px;
    outline: none;
    }


/* -------------------------------------------
    12. MOSAIC
   ------------------------------------------- */

.media-title {
    color: #fff;
    padding: 7px 7px;
    font-size: 15px;
    }

.media-home-title {
    color: #fff;
    padding: 7px 7px;
    font-size: 15px;
    }

.mosaic-overlay {
    width: 100%;
    height: 100%;
    display: none;
    z-index: 5;
    position: absolute;
    }

.bar-arc-photo .mosaic-overlay {
    background: url("images/bar-arc-photo.png");
    bottom: -106px;
    height: 126px;
    }

.bar-arc-audio .mosaic-overlay {
    background: url("images/bar-arc-audio.png");
    bottom: -186px;
    height: 206px;
    }

.bar-arc-video .mosaic-overlay {
    background: url("images/bar-arc-video.png");
    bottom: -106px;
    height: 126px;
    }

.bar-home-video .mosaic-overlay {
    background: url("images/bar-home-video.png");
    bottom: -97px;
    height: 116px;
    }

.bar-home-photo .mosaic-overlay {
    background: url("images/bar-home-photo.png");
    bottom: -97px;
    height: 116px;
    }

.bar-home-audio .mosaic-overlay {
    background: url("images/bar-home-audio.png");
    bottom: -167px;
    height: 186px;
    }

.bar-widget-video .mosaic-overlay {
    background: url("images/bar-widget-video.png");
    bottom: -127px;
    height: 146px;
    }

#footer .bar-widget-video .mosaic-overlay {
    background: url("images/bar-widget-video-footer.png");
    bottom: -107px;
    height: 126px;
    }

.photo-home-cover {
    width: 200px;
    height: 130px;
    position: relative;
    overflow: hidden;
    }

.video-home-cover {
    width: 200px;
    height: 130px;
    position: relative;
    overflow: hidden;
    }

.audio-home-cover {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    }

.video-arc-cover {
    width: 226px;
    height: 140px;
    position: relative;
    overflow: hidden;
    }

.photo-arc-cover {
    width: 226px;
    height: 140px;
    position: relative;
    overflow: hidden;
    }

.audio-arc-cover {
    width: 226px;
    height: 220px;
    position: relative;
    overflow: hidden;
    }

.video-widget-cover {
    margin-bottom: 15px;
    float: left;
    width: 270px;
    height: 160px;
    position: relative;
    overflow: hidden;
    }

.video-widget-cover.last { 
    margin-bottom: 0px
    }


/* -------------------------------------------
    13. WORDPRESS CORE
   ------------------------------------------- */

.alignnone {
    margin: 5px 20px 20px 0;
    }

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
    }

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
    }

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
    }

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
    }

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
    }

a img.alignnone {
    margin: 5px 20px 20px 0;
    }

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
    }

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
    }

.sticky {}
.gallery-caption {}
.bypostauthor {}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
    }

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
    }

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
    }

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
    }

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
    }

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
    }

.selectnav { display: none; }

@media screen and (max-width: 768px) {
	#header, #footer, .footer-bottom { width: 1020px; }
	.js #menu-responsive { display: none; }
    .js .selectnav { display: block; font-size:22px;}
}

/* nadpisane */
#clubbmenu > ul > li > a {
    padding: 8px 8px 8px 8px;
    font-size: 12px;
    font-family: candararegular;
}

#btn-menu {
    display: none;
}

.blog-home.accordion {
    height: 190px;
    overflow: hidden;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.content-right.accordion {
/*    position: relative;*/
}

.home-width.accordion {
    position: relative;
    margin-bottom: 40px;
    width: 100%;
}

.accordion-more, .accordion-less {
    position: absolute;
    bottom: -25px;
    right: 15px;
    margin: 9px 0;
    background: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #aaaaaa;
    float: left;
    color: #888888;
    padding: 6px 10px 4px 10px;
    font-size: 12px;
    cursor: pointer;
}

.title-home.artysci h3 {
    position: relative;
    text-align: center;
    padding-left: 00px;
}



@media screen and (max-width: 800px) {

    #btn-menu {
        display: block; 
    }

    .main-navigation {
        display: none;
    }

}
