#menu-plugins, #toplevel_page_wpcf, #toplevel_page_options-framework {
    display: none !important;
}
#edycjanr-adder,
#on-main-page-adder {
    display: none !important;
}
#screen-options-link-wrap {
	display: none !important;
}
.js-wpt-field.wpt-field.js-wpt-checkbox.wpt-checkbox {
	font-size:1.2em;
	font-weight:600;
	margin: 20px;
}

.js-wpt-field.wpt-field.js-wpt-colorpicker.wpt-colorpicker.wpt-validation-required {
	display:inline-block;
	vertical-align:top;
	margin: 0 .5%;
	width:17%;
}

.js-wpt-field.wpt-field.js-wpt-image.wpt-image.wpt-validation-required  .js-wpt-field-item.wpt-field-item{
	overflow: auto;
}
.js-wpt-field.wpt-field.js-wpt-image.wpt-image.wpt-validation-required .form-item.form-item-textfield.wpt-form-item.wpt-form-item-textfield {
	width: 80%;
	float: left;
}
.js-wpt-file-preview.wpt-file-preview {
	float: right;
}
.js-wpt-file-preview.wpt-file-preview img{
	width:auto !important;
	height:auto !important;
}

.wpcf-pr-table-wrapper table thead th:first-child,
.wpcf-pr-table-wrapper table tbody tr td:first-child {
    display: none !important;
}