#wrap, #header, .col-gallery, .col-post-media, .col-home, .single-col, .single-page-col, .blog-archive, .blog-home, .event-archive, .event-archive2, .audio-single-col, .slide-desc, .content-left, .content-right, .widgets-col, .widgets-col-photo, .widgets-col-flickr, .blogroll, .widget_meta ul , .textwidget, #recentcomments, .widget_recent_entries ul , .widget_archive ul, .tagcloud, .widget_categories ul, .widget_pages ul, .widget_nav_menu ul, .wz_tweet_widget ul, #calendar_wrap, .widget_calendar tbody>tr>td, #searchinput, #footer #searchinput, #footer, .footer-bottom, .audio-single li.playing, .widget-play-list li.playing, #footer .widget-play-list li.playing, #comment, #author, #email, #url, li.comment > div, #commentsText, form#contact input {
        background: url("../images/bg-dark.png"); 
		}

.footer-bottom  { 
        background: url("../images/bg-dark-footer.png"); 
		}