#wrap, #header, .col-gallery, .col-post-media, .col-home, .single-col, .single-page-col, .blog-archive, .blog-home, .event-archive, .event-archive2, .audio-single-col, .slide-desc, .content-left, .content-right, .widgets-col, .widgets-col-photo, .widgets-col-flickr, .blogroll, .widget_meta ul , .textwidget, #recentcomments, .widget_recent_entries ul , .widget_archive ul, .tagcloud, .widget_categories ul, .widget_pages ul, .widget_nav_menu ul, .wz_tweet_widget ul, #calendar_wrap, .widget_calendar tbody>tr>td, #searchinput, #footer #searchinput, #footer, .footer-bottom, .audio-single li.playing, .widget-play-list li.playing, #footer .widget-play-list li.playing, #comment, #author, #email, #url, li.comment > div, #commentsText, form#contact input {
        background: url("../images/bg-light.png"); 
		}

.footer-bottom  { 
        background: url("../images/bg-light-footer.png"); 
		}

body, .slide-desc , h2.event-arc-title a, #comment, #author, #email, #url, #respond .required, .reply a , p.form-submit input#submit, #contactName, .comment-form-author label, .button-send#submitmail, .blog-arc-more a, .widget-audio-title a, .event-w-title a, .event-w-data, .footer-col, #footer a:hover, #footer .blog-w li a, .event-arc-data, .list-nav, .list-nav a, .list-nav ul li a, .widgets-col a, .widget_calendar tfoot>tr>td#prev a, .widget_calendar tfoot>tr>td#next a, .audio-single li a, .audio-single li, .audio-single li.playing a, .widget-play-list li.playing a, .widget-play-list li, .widget-play-list li a, h2.blog-arc-heading a, .event-arc-data2, .event-tickets a, .event-tickets2 a, .audio-buy a { 
        color:#333; 
		}