body {color:#000; font-family: 'candararegular'; position:relative; background: #fff url('../images/bg_edycjaV.jpg') no-repeat /*fixed*/ top center;}
a:hover {color: #333}
span { color:#000}

#wrap{background: /*rgba(255,255,255,.1);*/ rgba(0,0,0,.4); }

.col-gallery, .col-post-media, .col-home, .single-col, .single-page-col, .blog-archive, .blog-home, .event-archive, .event-archive2, .audio-single-col, .content-left, .content-right, .widgets-col, .widgets-col-photo, .widgets-col-flickr, .blogroll, .widget_meta ul , .textwidget, #recentcomments, .widget_recent_entries ul , .widget_archive ul, .tagcloud, .widget_categories ul, .widget_pages ul, .widget_nav_menu ul, .wz_tweet_widget ul, #calendar_wrap, .widget_calendar tbody>tr>td, #searchinput, #footer #searchinput, #footer, .footer-bottom, .audio-single li.playing, .widget-play-list li.playing, #footer .widget-play-list li.playing, #comment, #author, #email, #url, li.comment > div, #commentsText, form#contact input {
	background-color:#fff;
}

.footer-bottom  {  background: url("../images/bg-dark-footer.png"); }
		
		
#header { background:none !imporant;height: 60px;}
#logo {float: left;width: 186px; height:52px; margin-top:10px}
#main {margin-top: 20px;}
#btn-menu {background: none;font-size: 13px; font-weight: bold;border-radius: 3px;padding: 5px 0;display: none;}
#clubbmenu ul li {background: none;margin-left: 3px;padding: 0;font-family: 'Candarab'; }
#clubbmenu ul li a:hover {background: url("../images/bg-menu.png");}
#clubbmenu ul li ul {background: url("../images/bg-menu.png");margin-left: 0px;padding: 0; font-size:13px; float: left}
#clubbmenu ul li ul a { font-size:12px; color: #fff; font-family: candararegular;}
clubbmenu ul li ul a:hover { color: #000;}


#clubbmenu {float: left;}
#lan {
background: none;
font-size: 13px;
font-weight: bold;
padding: 5px 0;
float: right;
    position: relative;
    top:3px; left: 27px;
}
#lan li {float: left; }
#lan li a { margin-right: 5px; color:#90d3c7}


.slide-title { font-size:24px !important;line-height: 28px; font-family: 'candararegular';   max-width: 310px;}


h1, h2, h3 , h4 ,h5 ,h1 a, h2 a, h3 a, h4 a,h5 { font-family: 'Candarab'; font-weight:bold}

.title-head h1 {color:#333333; font-size: 26px; padding-left:30px;}

.title-home h3, .sidebar-right h3 { font-size:26px !important; font-family: 'Candarab'; font-weight:bold; color:#333333; padding-left:30px}


.blog-arc-more a {
margin: 9px 0;
background: #fff;
text-transform: uppercase;
text-decoration: none;
border:1px solid #aaaaaa;
float: left;
color: #888888;
padding: 6px 10px 4px 10px;
font-size: 12px;
}

/* typo */

h2.event-arc-title a {color: #000; font-size:21px}
.event-w-title a {color: #000;}
.event-w-day {color:#f5821f; font-family: 'open_sanssemibold', sans-serif; font-size:49px; font-weight:bold; width: 100%;}
.event-w-month {color:#004669; font-size:10pt; top:8px;font-family: 'Candarab'; margin-left:2px;}
.event-w-data {border-right: 1px solid #333;float: left;width: 70px; text-align: center; padding-right: 5px;}
.event-w-title {font-size: 19px; width:268px}

.event-w-data {border-right: 1px solid #a4a4a4;}

.content-home-right p {
font-size: 12px;
line-height: 20px;
color:#f1f1;
}


.bilety_link { background-color:#004669; display:block; padding:7px 5px 6px 5px; margin:2px auto;text-align:center; width:120px; color:#fff;font-family: 'candararegular';border:1px solid #004669; }

.bilety_link:hover { background-color:#fff; color:#004669; border:1px solid #004669;}

.video-widget-cover { height:131px;margin-bottom: 6px;}

.event-widgets {margin-bottom: 12px;height: 83px;}

#footer {border-top: 10px solid #004669;}
.footer-col { color:#000; background-color:#fff}
.footer-bottom {background-image:none;background-color:#aaaaaa; color:#000 }
#footer .textwidget { margin-bottom:0 }

.footer-col-left {
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 0px;
    float: left;
    width: 230px;
	padding-left:20px;
 }

.footer-col-left h5, .footer-col-right h5 { font-size:26px; font-weight:bold}
.footer-col-left p,{ font-size:12px;}
.footer-col-right p {font-size:14px;}
.footer-col-right span {font-weight:bold}
 
 .footer-col-loga {
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 0px;
    float: left;
    width: 400px;
	text-align:center;
 }
 
/*.footer-col-loga .org {
    width:326px; 
    margin:0 auto 20px; 
    height:57px;
}*/

.footer-col-loga .pat  {
   /* width:326px; */
    margin:0 auto 20px; 
    /*height:140px;*/
}

.footer-col-loga .pat div {
   display: inline-block;
}

.footer-col-loga .pat img{
    width: auto;
    max-height: 95px;
    display: inline;
    margin: 5px 0;
    max-width: 157px;
}

.footer-col-right { margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 0px;
    float: right;
    width: 290px;
}

.footer-bottom-copyright { float: left }
.realizacja { float:right; margin-top: -3px;}

#catapult-cookie-bar {display: none;
min-height: 30px;
height: 30px;
position:absolute;
bottom: 56px !important;
width: 100%;
z-index: 99999;
width:80%; 
padding: 6px 20px 4px;
background-color: #464646;
text-align: center;
font-size:11px;
}


.footer-bottom {background-color: #e5e5e5;color: #000;}
.facebook { position:absolute; left:50%; margin-left:-43px; margin-top: -2px;}


#footer span {color:#000}
#footer .footer-col-right p .contact {font-weight: bold; color: #000; font-family: 'Candarab';}
#footer .footer-col-right p span { color:#f5821f }
#footer .footer-col-right p span a { color:#f5821f }
#footer .footer-col-right p a:hover { color:#aaaaaa }
#footer .footer-col-right p a:visited { color: #f5821f;}

.energa, .sopot { width:49%; height:150px;  float:left; margin-top: 10px;}
.energa h5, .sopot h5 { }

.col-blog-archive .event-arc-month { color:#004669;
font-size: 12pt; top: 5px;font-family: 'Candarab';}
.event-arc-day { color:#f5821f;line-height: 34px; font-family: 'open_sanssemibold';margin-top:35px }

h2.blog-arc-heading a:hover,
h2.event-arc-title a:hover,
.title-home h3,
.sidebarnav h3,
.event-past h3,
.event-upcoming h3,
.footer-col h3,
.event-w-title a:hover, 
.list-nav ul li a:hover, 
.sidebar .widget_calendar table#wp-calendar>tbody>tr>td>a, 
.sidebar .widget_calendar tfoot>tr>td>a, tfoot>tr>td>a:link, tfoot>tr>td>a:visited, tfoot>tr>td>a:hover, tfoot>tr>td>a:active, .widget_calendar table#wp-calendar>tbody>tr>td>a, 
.blog-h-title a:hover, 
.footer-col a:hover,
.blog-home-title a:hover,
.widget-audio-title a:hover,
.button-link a,
ul.tabs li a,
.comment-meta a:active, .comment-meta a:hover,
.widget_calendar tfoot>tr>td#prev a:hover, 
.widget_calendar tfoot>tr>td#next a:hover,
#footer .blog-w ul li a:hover,
#footer .event-w-title a:hover,
#footer .widget-audio-title a:hover {
color:#000;
}
 
.event-tickets a:hover,
.event-tickets2 a:hover,  
.audiojsZ .loadedZ,
.audiojsW .progressW,
.pagination a:hover, 
.pagination .current, 
.event-home-title h2 a,
.event-home-more a,
.tagcloud a:hover, 
.audio-buy a:hover,
.reply a:hover,
.widget-audio-buy a:hover,
.button-send#submitmail:hover,
.highlight,
.button-link a,
ul.tabs li a,
a.pp_download,
p.form-submit input#submit:hover,
#footer .tagcloud a:hover,
#search-button:hover {
background:#000;
}

#clubbmenu > ul > li:hover > a, 
#clubbmenu > ul > li.active > a, 
#clubbmenu > ul > li > a:active, 
#clubbmenu > ul ul li a:hover {
background:#4f7f97;   
}
#clubbmenu > ul > li.lang-item {
    background: transparent;
}
#clubbmenu > ul > li.lang-item-pl a {
	padding-right:0 !important;
    background: transparent;
}
#clubbmenu > ul > li.lang-item-pl a:after{
	height: auto;
	content: "/";
	width: 100%;
	margin: 0 5px;
}
#clubbmenu > ul > li.lang-item-en a {
	padding-left:0 !important;
    background: transparent;
}
#clubbmenu > ul > li.lang-item-en {
	margin-left:0;
}

#clubbmenu > ul > li.lang-item-pl:hover > a, 
#clubbmenu > ul > li.lang-item-pl.active > a, 
#clubbmenu > ul > li.lang-item-pl > a:active, 
#clubbmenu > ul ul li.lang-item-pl a:hover,
#clubbmenu > ul > li.lang-item-en:hover > a, 
#clubbmenu > ul > li.lang-item-en.active > a, 
#clubbmenu > ul > li.lang-item-en > a:active, 
#clubbmenu > ul ul li.lang-item-en a:hover {
	background:none !important; 
	color: #ffffff !important;
}

.blog-home-more a, 
.blog-arc-more a:hover {
background:#cecece;   
border-color:#cecece;
}

.event-widgets {
    margin-bottom: 5px;
    height: 83px;
    clear: left;
}

a.edition-button {
    border: solid 1px white;
   height: 34px;
   width: 42px;
   display: block;
    color: white;
  margin: 5px 10px;
    padding: 13px 0 0 5px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    font-size: 1.4em;
  overflow: hidden;
    background: #1a2e47;
  position: relative;
  z-index: 2;
    text-align: center;
}

a.edition-button:hover {
    width: 120px;
   background: #3b5ea6;
}

a.edition-button span {
    display: inline-block;
    width: 0px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    color: white;
    opacity: 0;
}

a.edition-button:hover span {
    width: 63px;
    margin-left: 10px;
    opacity: 1;
    padding-right: 5px;
}

a.facebook_btn img{
      border: 1px solid white;
      position: relative;
    left: 10px;
    top: 30px;
      padding: 4px 3px 3px 4px;
      background: none;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 300;
  max-width: 49px;
  width: 40px;
  height: 40px;
    background: #1a2e47;
}

a.facebook_btn:hover img {
      background: #3b5998;
}

.editions-mobile {
    display: none;
}

#clubbmenu span {
    color: white;
}

.gallery-title {
      background: white;
      padding: 18px;
      margin: 0;
}

.title-home.artysci {
      margin: 50px 30%;
      border-bottom: 1px solid #808080;
      height: auto;
}

.editions-title {
	position: absolute;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	color: white;
	left:10px;
	/*top: -122px;*/
	width: 180px;
	text-transform: uppercase;
	z-index: 1;
	/*padding: 15px 0px 15px 14px;*/
	line-height:49px;
	padding-left: 15px;
	font-size: 1.3em;
}

#logo {
    position: relative; 
    width: initial;
}

.logo-info {
      position: absolute;
      top: 0px;
      right: 0px;
      /*width: 72px;*/
      margin-right: -100px;
      color: white;
      text-transform: uppercase;
      margin-top: 12px;
}

.logo-ed-nr {
      margin-bottom: -10px;
      font-size: 1.1em;
}

.logo-ed-nr span{
      color: white;
}

.solisci-list a {
    float: none;
}

.logo-year {
    font-size: 1.1em;
}

.partners-logo {
    max-width: 25%;
    display: inline-block;
  margin: 0 3%;
}

.sponsor-tytularny .partners-logo {
    max-width: 50%;
    display: block;
    margin: 0 auto;
}

.partners-logo img {
    width: 100%;
}

.partners-group {
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
}

.pp_top .pp_middle{
      font-size: 1.3em;
  font-weight: 700;
  padding: 12px 0;
  position: relative;
  z-index: 2;
}

.pp_content {  
    height: 674px;
  /*width: 950px;*/
  padding-top: 30px;
  position: relative;
  z-index: 1;

}

#wrap {padding: 20px 20px 1px 20px;}

@font-face {
	font-family: 'candararegular';
	src: url('font/CANDARA.eot');
	src: local('font/CANDARA'), url('font/CANDARA.woff') format('woff'), url('font/CANDARA.ttf') format('truetype');
}

.fontsforweb_fontid_1398 {
	font-family: 'CANDARA' !important;
}

@font-face {
	font-family: 'Candarab';
	src: url('font/Candarab.eot');
	src: local('font/Candarab'), url('font/Candarab.woff') format('woff'), url('font/Candarab.ttf') format('truetype');
}


@font-face {
    font-family: 'open_sanssemibold';
    src: url('font/opensans-semibold-webfont.eot');
    src: url('font/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-semibold-webfont.woff') format('woff'),
         url('font/opensans-semibold-webfont.ttf') format('truetype'),
         url('font/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media (min-width:800px) and (max-width:1200px) {
    a.facebook_btn img {
        position: fixed;
      bottom: 7px;
      right: 7px;
      top: initial !important;
      left: initial !important;
        display: none;
    }
    .editions {
      position: fixed;
      left: 0;
      right: 0;
      top: initial !important;
      bottom: 0;
      height: 90px;
      z-index: 300;
      text-align: center;
    }
    .editions-title {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
      position: static;
      width: 100%;
      text-align: center;
      margin: 2px auto;
        padding: 5px 0;
        background: none !important;
		line-height:inherit;
    }
    a.edition-button {
        display: inline-block;
        margin: 0px 5px;
        padding: 13px 2px 0 2px;
        width: 43px;
    }
     a.edition-button:hover {
        width: 42px;
     }
    a.edition-button span{
        display:none;
    }
    body {
        margin-bottom: 90px;
    }
    
}

 @media (min-width:800px) and (max-width:1020px) {
		.footer-col-loga {width:40%; }
		.footer-col-left, .footer-col-right { width:23%; }
        #logo { 
            display: inline-block !important;
            vertical-align: middle !important;
            float: none !important;
            width: 19% !important;
            /*margin:0px;*/
        }
        #main{ 
            display: inline-block;
            float: none;
            vertical-align: middle;
            margin:0px;
            height: 100%;
        }
       .logo-info {
          /*position: static;*/
          width: initial;
          text-align: center;
          font-size: 0.9em;
          /*margin: 0;*/
       }
        #clubbmenu {
            width: initial !important;
          float: right !important;
          margin-right: 20px;
        }
 }

 @media (max-width:800px) {
     body { background-image:none;background-color:#5595a6}
     .footer-col-loga {width:70%; margin:0 15%; padding:0; }
     .footer-col-left, .footer-col-right {width:86%; margin:0 7%; padding:0; text-align:center}
     .footer-col-left img { width:60%; margin:0 0}
     .footer-col-left h5, .footer-col-right h5 { font-size:26px; margin-top:20px}
     .footer-widget {margin-bottom: 0px;}
     .footer-bottom {border-top:50px solid #fff}
     #header, #wrap { margin: 0px auto; }
     #lan { right: 3%; left: auto !important; position: absolute; top: 10px !important; }
     #btn-menu { border-radius: 0px !important; line-height: 17px; padding: 12px 0 8px !important; }
     .title-home, .title-head { margin-bottom: 0 !important; }
     .title-home h3, .title-head h1 { padding: 10px 3% 0 ; color: #fff !important; }
     #clubbmenu {float: none;}
     #clubbmenu ul li ul {display: none !important;}
     .editions-mobile {display: block;}
     .editions {display: none;}
     a.fb_btn{  position: fixed; right: 0px;top: 30%; width: 30px;}
     a.facebook_btn img{ top: 10px; }
     .main-navigation{ width: 100%; }
     #btn-menu { margin-top: 20px !important; }
     .menu-editions-old {  text-align: center; }
     .menu-editions-old span { text-align: center; margin: 20px; display: block; text-transform: uppercase;}
     .menu-editions-old a span {display: none;}
     .menu-editions-old a { display: inline-block;  width: 42px; padding: 13px 0 0 0px !important; width: 49px !important; padding:13px 0 0; text-align: center;}
     .logo-info { position: static; margin: 0px; text-align: center; width: 100%; }
     .logo-year, .logo-ed-nr { display: inline-block; }
     .logo-year { padding-left: 3px; }
     #logo { height: 80px !important;}
     .col-home {width: 94% !important; margin: 0 3%;}
     #header .header-row #logo > a {text-align: center;}
     #header .header-row #logo a img {display: inline-block !important; max-width: 100% !important; width: initial !important;}
 }
 
  @media (max-width:500px) {
    .widgets-col {margin-bottom: 8px;}
    .footer-col-loga .sopot, .footer-col-loga .energa {width:70%; margin:0px 15%; float:left; height:150px }
    #catapult-cookie-bar {min-height: 54px !important}
    #clubbmenu ul li a { padding: 12px 0 8px; font-size: 15px !important; line-height: 15px; background: #07567e; }
    #clubbmenu ul li {background: none;margin-left: 3px;padding: 0;font-family: 'candararegular'; background-color:#034d73;font-size:19px !important}
    /*#clubbmenu ul li a:hover {background: url("../images/bg-dark-menu-drop.png");}*/
    #clubbmenu ul li ul { margin-left: 0;padding: 0}
    #clubbmenu ul li ul a { font-size: 19px; color: #07567e !important; background-color: #fff !important; }
      .blog-home.accordion {min-height: 340px;}
      #logo { height: 60px !important;}
    .title-home.artysci {margin: 50px 15%;}
    #logo a{width: 85% !important;}
	  
  }


