#btn-menu {background:#FFFFFF;text-align:center;color:#333;cursor:pointer;font-size:17px;font-weight:bold;border-radius:3px;padding:5px 0;}
 @media (max-width:1030px){
    #slide {width:94%;padding:3%;}
    #slide img{width:100%;display:block;height:auto;}
    #slide  .cycle-slideshow{width:100%;}
    .slide-title{margin-top:27% !important;margin-left:3% !important;}
    .slide-desc{margin-top:33% !important;margin-left:3% !important;}
 }

@media (min-width:800px) and (max-width:1000px) {
    #main {
        margin-top: 0px;
    }
}
/* tablet */
 @media (min-width:800px) and (max-width:1020px) {
     #btn-menu { display: none}
     .main-navigation { display: block; float: none}
     #clubbmenu { width: 85%; float: none}
     #lan { left: 0; width:80px; }
     
		body{width:100%;overflow-x:hidden;}
		img {display:block;width:100%;height:auto;} 
		#header .header-row.fixed{width:100%;}
		#header .header-row #logo {width:20%;position:relative;/*margin-top: 22px;*/}
		#header .header-row #logo img {display:block;width:100%;height:auto;}
		#header .header-row #main {width:80%;}
		#wrap{width:100%;padding:0;}
		.col-blog-archive{width:60%;}
		.single .single-col,.page .content-right{width:54%;padding:3%;}		 
		.blog-archive {width:94%;padding:3%;}
		.sidebar-right{width:34%;padding:3%;padding-top:0;}
		.footer-row.fixed {width:94%;padding:3%;}
		.footer-col {width:25%;}
		
	
		.footer-bottom {width:94%;padding:3%;}
		#footer{width:100%;}
		.footer-row{width:100%;min-height:36px;}
		.content-home-right {width:60%;}
		.home-width.fixed {width:94%;padding:3%;}
		.blog-home {width:100%;}
		.blog-home-info {margin-bottom:60px;}
		
		.col-home {width:94%;padding:3%;}
		.home-width{width:100%;}
		.audio-home.last-p{width:30%;padding:0;margin:1.5%;}
		.audio-home-cover.bar-home-audio{width:100%;height:auto;}
		.media-home-title.mosaic-overlay{width:100%;background-size:100% auto;background-position:center center;}		
		.event-archive,.event-archive2 {width:94%;padding:3%;}
		.event-arc-info{margin-bottom:50px;}
		.photo-home.last-p {width:46%;margin:2%;}
		.photo-home-cover.bar-home-photo {width:100%;}
		.footer-col {width:46%;margin:2%;}
		.attachment-60x60{width:60px;height:60px;}
		.footer-widget.widget_search  #searchinput{width:80% !important;}
		.footer-widget.widget_search  #search-button{width:10% !important;}
		.event-arc-text .event-arc-info {margin-bottom:60px !important;}
		.col-post-media {width:96%;padding:2%;}
		.post-media{width:100%;}
		.post-media .media-arc.last-p{width:23%;margin:1%;}
		.audio-arc-cover.bar-arc-audio,.video-arc-cover.bar-arc-video,.photo-arc-cover.bar-arc-photo {width:100%;height:auto;}
		.video-arc-cover .media-title.mosaic-overlay, .photo-arc-cover  .media-title.mosaic-overlay, .audio-arc-cover  .media-title.mosaic-overlay{width:100%;background-size:100% 100%;background-position:50% 50%;}
		.single-page-col {width:96%;padding:2%;}
		.comment-form-author, input#email.required,.comment-form-email, .required.requiredField.email {width:100% !important;}
		.audio-single-col{width:96%;padding:2%;}
		.audio-single-cover {width:25%;}
		.audio-single {width:71%;padding:2%;}
		.audio-single .audiojsW{width:100%;}
		.audio-single .scrubberW {width:70% !important;}
		.audio-single .timeW {width:15%;}
		
		.pp_gallery img{width:50px;}
		.pp_gallery {width:53%;margin-left:-25% !important;display:none !important;}
		.pp_pic_holder.pp_default{width:90% !important;left:50% !important;margin-left:-45% !important;}
		.pp_content_container {width:100%;}
		.pp_content, .pp_details {width:100% !important;}
		.pp_hoverContainer{width:92% !important;}
		.pp_next, .pp_previous {width:50% !important;}
		#pp_full_res img{width:98% !important;height:auto !important;}
		.pp_content {height:auto !important;}
		.pp_hoverContainer {display:none !important}
		.pp_details{margin-top:30px !important;}
		.pp_contract {display:none !important}
		.pp_arrow_previous {background-position:-26px -3px !important;height:30px !important;width:27px !important;margin-right:10px !important;margin-left:10px !important;}
		.pp_arrow_next{background-position:-80px -3px !important;height:30px !important;width:27px !important;margin-right:10px !important;margin-left:0px !important;}
		.pp_nav {width:100% !important;}
		.currentTextHolder {margin-left:50px !important;}
		.event-text {width:65%;}
		.event-cover {width:30%;margin-right:5%;}
		#event-map {width:100% !important;}
		
		.col-gallery {width:96%;padding:2%;}
		.gallery {width:100% ;}
		.photo {width:21% ;margin:2% ;height:auto;}
		.photo  > a > img {width:100%;display:block;height:auto;}
		.footer-row {padding:0;}
		

}
 
 /* phone */
 @media (max-width:800px) {
     #lan { left: 0; top: -100px; }
     #btn-menu { display: block}
		body{width:100%;overflow-x:hidden;}
		img {display:block;width:100%;height:auto;} 
		#header{height:auto;width:94%;padding:3%;}
		.header-row.fixed{width:100%;padding:0;}
		#header .header-row.fixed{width:100% !important;}
		#header .header-row #logo {width:100%;position:relative;float:none}
		#header .header-row #logo > a {width:50%;display:block;margin-left:auto;margin-right:auto;}
		#header .header-row #main {float:none;width:100%;}
		.menu  > li, .menu ul li {width:100% !important;text-align:center;margin:0 !important;}	
		.col-blog-archive{width:100%;padding:0;float:none;}
		.blog-archive ,.page .content-right{width:94%;padding:3%;}
		.sidebar-right{width:94%;padding:3%;float:none;}
		#wrap{width:100%;padding:0;}
		.sidebar-right .widget {width:100%;}
		.sidebar-right .widget li{width:100%;}
		.widget #searchform #searchinput {width:75%;}
		.single .single-col{width:94%;padding:3%;}
		.footer-bottom {width:94%;padding:3%;}
		#footer{width:100%;}
		.footer-row{width:100%;min-height:36px;}
		.has-sub ul, .has-sub .menu-item, .has-sub .menu-item a{width:100% !important;}
		.has-sub .menu-item a {padding:10px 0 !important;background:#fff;color:#000 !important;}
		.has-sub .menu-item a:hover {color:#fff !important;}
		.footer-col {width:100%;}
		.footer-row.fixed{width:94%;padding:3%;}
		#slide {display:none;}
		.content-home-right {width:100%;}
		.home-width.fixed {width:94%;padding:3%;}
		.blog-home {width:94%;padding:3%;}
		.blog-home-cover {height:auto;margin-bottom:15px;}
		.col-home {width:100%;padding:0%;}
		.home-width{width:100%;}
		.audio-home.last-p{width:47%;padding:0;margin:1.5%;}
		.audio-home-cover.bar-home-audio{width:100%;height:auto;}
		.media-home-title.mosaic-overlay{width:100%;background-size:100% auto;}
		.media-home-title.mosaic-overlay{width:100%;background-size:100% auto;background-position:10% 50%;}
		.event-archive,.event-archive2 {width:94%;padding:3%;}
		.event-arc-text {clear:both;}
		.blog-home-cover > a > img {width:220px;height:166px;}
		.blog-home-info{margin-bottom:50px;}
		.photo-home.last-p {width:46%;margin:2%;}
		.photo-home-cover.bar-home-photo {width:100%;}
		.footer-col {width:94%;margin:3%;}
		.attachment-60x60{width:60px;height:60px;}
		.footer-widget.widget_search  #searchinput{width:80% !important;}
		.footer-widget.widget_search  #search-button{width:10% !important;}
		.video-widget-cover.bar-widget-video {width:100%;overflow:hidden;}
		.video-widget-cover .media-title.mosaic-overlay{width:100%;background-position:50% 50%;background-repeat: no-repeat;background-size:100% 100%;}
		.event-arc-info2 {clear:both;}
		.col-post-media {width:96%;padding:2%;}
		.post-media{width:100%;}
		.post-media .media-arc.last-p {width:48%;margin:1%;}
		.audio-arc-cover.bar-arc-audio,.video-arc-cover.bar-arc-video,.photo-arc-cover.bar-arc-photo  {width:100%;height:auto;}
		.audio-arc-cover  .media-title.mosaic-overlay , 	.video-arc-cover .media-title.mosaic-overlay, .photo-arc-cover .media-title.mosaic-overlay {width:100%;background-size:100% 100%;background-position:50% 50%;}
		.single-page-col {width:96%;padding:2%;}
		.comment-form-author, input#email.required,.comment-form-email, .required.requiredField.email {width:100% !important;}
		.audio-single-col{width:96%;padding:2%;}
		.audio-single-cover {width:50%;padding:2%}
		.audio-single {width:96%;padding:2%;}
		.audio-single .audiojsW{width:100%;}
		.audio-single .scrubberW {width:50% !important;}
		.audio-single .timeW {width:15%;}
		
		.pp_gallery img{width:50px;}
		.pp_gallery {width:53%;margin-left:-25% !important;display:none !important;}
		.pp_pic_holder.pp_default{width:90% !important;left:50% !important;margin-left:-45% !important;}
		.pp_content_container {width:100%;}
		.pp_content, .pp_details {width:100% !important;}
		.pp_hoverContainer{width:92% !important;}
		.pp_next, .pp_previous {width:50% !important;}
		#pp_full_res img{width:98% !important;height:auto !important;}
		.pp_content {height:auto !important;}
		.pp_hoverContainer {display:none !important}
		.pp_details{margin-top:30px !important;}
		.pp_contract, .pp_expand {display:none !important}
		.pp_arrow_previous {background-position:-26px -3px !important;height:30px !important;width:27px !important;margin-right:10px !important;margin-left:10px !important;}
		.pp_arrow_next{background-position:-80px -3px !important;height:30px !important;width:27px !important;margin-right:10px !important;margin-left:0px !important;}
		.pp_nav {width:100% !important;}
		.currentTextHolder {margin-left:50px !important;}
		.event-text {width:100%;}
		.event-cover{width:100%;}
		.event-cover img{width:30%;float:left;margin-right:15px;}
	   .event-single-data{width:30%;float:left;}
		#event-map {width:100% !important;}
		.col-gallery {width:96%;padding:2%;}
		.gallery {width:100%;}
		.photo {width:46%;margin:2%;height:auto;}
		.photo  > a > img {width:100%;display:block;height:auto;}
		.footer-row {padding:0;}
     
     #btn-menu { margin-top: 70px; }

		
 }
 @media (max-width:500px) {
		.one_third,.two_third, .one_half, .one_fourth {width:98% !important;margin-right:0 !important;padding:1% !important;}
		.blog-home-cover > a > img {width:100%;height:auto;}
     
      #btn-menu { margin-top: 0px; }
     .sidebar-right {display: none;}
     .blog-home-cover {width: 100%}
 }