/* 
-------------------------------------------
	SHORTCODES 
-------------------------------------------
	1.  Columns
	2.  Dropcaps
	3.  Pullquotes
	4.  Highlight	
	5.  Space
	6.  Bar
	7.  Tabs
	8.  Toggle
	9.  Buttons
	10. Player
	11. Pretty
	12. Title
-------------------------------------------
*/


/* 1. Columns */
.one_half { width: 48%; }

.one_third { width: 30.66%; }

.two_third { width: 65.33%; }

.one_fourth { width: 22%; }

.three_fourth { width: 74%; }

.one_fifth { width: 16.8%; }

.two_fifth { width: 37.6%; }

.three_fifth { width: 58.4%; }

.four_fifth { width: 79.2%; }

.one_sixth { width: 13.33%; }

.five_sixth { width: 82.67%; }

.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth { position: relative; margin-right: 4%; margin-bottom: 20px; float: left; }

.last { margin-right: 0; clear: right; }

.clearboth { clear: both; display: block; font-size: 0; height: 0; line-height: 0; width: 100%; }


/*  2. Dropcaps */
.dropcap { position: relative; display: block; float: left; left: -2px; padding-top: 0; margin: 0 6px 0 0; font-size: 40px; line-height: 40px; }


/*  3. Pullquotes */
.pullquote_left, .pullquote_right { position: relative; top: -2px; padding: 0 0 0 30px; color: #888; font-size: 14px; background: url("../images/quotes.png") no-repeat scroll 0 0 transparent; clear: none; }

.pullquote_left { float: left; width: 30%; padding: 0 0 0 30px; margin: 20px 20px 20px 0; }

.pullquote_right { float: right; width: 29%; padding: 0 0 0 30px; margin: 20px 0 20px 20px; }


/*  4. Highlight */
.highlight { color: #fff; }

.highlight2 { color: #fff; background:#333; }


/*  5. Space */
.space_hr { display: block; width: 100%; margin-bottom: 40px; }


/*  6. Bar */
.bar_hr { display: block; border-bottom:1px solid #a4a4a4; margin: 30px 10px 30px 10px; }


/*  7. Tabs */
ul.tabs { margin: 0 }

ul.tabs .selected { background: url("../images/bg-opc.png"); }

ul.tabs li { display: inline; list-style: none; }

ul.tabs li a { position: relative; float: left; padding: 3px 15px 1px; margin: 0 5px 0px 0; color: #fff; line-height: 25px; overflow: hidden;  }

.pane { display: block; margin-bottom: 29px; padding: 20px 20px; font-size: 12px; border-style: solid;  clear: both; background: url("../images/bg-opc.png"); color:#fff; }


/*  8. Toggle */
.trigger { padding: 0px 0px 0px 20px; margin: 0 0 20px; background: url("../images/toggle-plus.png") no-repeat; cursor: pointer; background-position:0px 2px; }

.trigger a { display: block; text-decoration: none; cursor: pointer; font-size: 16px; text-transform:uppercase; }

.active { background: url("../images/toggle-minus.png") no-repeat; background-position:0px 2px; }

.active a { color:#333;}

.toggle_container { padding: 0px 0px 20px 20px; margin-bottom: 20px; overflow: hidden; clear: both; background: url("../images/bg-opc.png"); }

.toggle_container .block { padding: 20px; margin: 0; nowhitespace: afterproperty; overflow: hidden; }


/*  9. Buttons */
.button-link { margin-bottom: 20px; margin-top: 20px; }

.button-link a { padding: 6px 8px 6px 8px; color: #fff; }

.button-link a:hover { background: #333; }


/*  10. Player */
.player-single ol { list-style-type: none; }

.player-more ol { list-style-type: decimal;     margin-top: -5px; list-style: decimal inside; padding: 0px;}

.player-more li { line-height: 30px; border-bottom: 1px dashed #333; color: #888; cursor: pointer; padding: 0px 5px 0px 5px; position: relative; font-size: 14px; }

.player-more li.playing { background: url("../images/bg-opc.png") }

.player-more li.playing:before { line-height: 14px; top: 5px; right: 3px; width: 14px; height: 14px; margin: 0px; padding: 3px; content: url("../images/player/song-small.png"); position: absolute; }

.player-more li:first-child { margin-top: 15px; }

.player-more li.playing a { color: #fff; }

/*  11. PRETTY */
.pretty-photo-sc { margin:20px 0 20px 0; overflow:hidden; position:relative; }

/*  12. TITLE */
.title-home { height: 40px; margin-bottom: 13px; }

.title-home h3 { position: absolute; font-weight: 600; text-transform: uppercase; font-size:30px;}