body {color:#000; font-family: 'candararegular'; position:relative; background: #fff url('http://sopotclassic.pl/wp-content/uploads/2014/07/bg-sopot.png') no-repeat /*fixed*/ top center;}
a:hover {color: #333}
span { color:#000}

#wrap{background: url("../images/bg-dark.png"); }

.col-gallery, .col-post-media, .col-home, .single-col, .single-page-col, .blog-archive, .blog-home, .event-archive, .event-archive2, .audio-single-col, .content-left, .content-right, .widgets-col, .widgets-col-photo, .widgets-col-flickr, .blogroll, .widget_meta ul , .textwidget, #recentcomments, .widget_recent_entries ul , .widget_archive ul, .tagcloud, .widget_categories ul, .widget_pages ul, .widget_nav_menu ul, .wz_tweet_widget ul, #calendar_wrap, .widget_calendar tbody>tr>td, #searchinput, #footer #searchinput, #footer, .footer-bottom, .audio-single li.playing, .widget-play-list li.playing, #footer .widget-play-list li.playing, #comment, #author, #email, #url, li.comment > div, #commentsText, form#contact input {
	background-color:#fff;
}

.footer-bottom  {  background: url("../images/bg-dark-footer.png"); }
		
		
#header { background:none !imporant;height: 60px;}
#logo {float: left;width: 186px; height:52px; margin-top:10px}
#main {margin-top: 20px;}
#btn-menu {background: none;font-size: 13px; font-weight: bold;border-radius: 3px;padding: 5px 0;display: none;}
#clubbmenu ul li {background: none;margin-left: 3px;padding: 0;font-family: 'Candarab'; }
#clubbmenu ul li a:hover {background: url("../images/bg-menu.png");}
#clubbmenu ul li ul {background: url("../images/bg-menu.png");margin-left: 3px;padding: 0; font-size:13px; float: left}
#clubbmenu ul li ul a { font-size:12px; color: #fff; font-family: candararegular;}
clubbmenu ul li ul a:hover { color: #000;}


#clubbmenu {float: left;}
#lan {
background: none;
font-size: 13px;
font-weight: bold;
padding: 5px 0;
float: right;
    position: relative;
    top:3px; left: 27px;
}
#lan li {float: left; }
#lan li a { margin-right: 5px; color:#90d3c7}


.slide-title { font-size:24px !important;line-height: 28px; font-family: 'candararegular';}


h1, h2, h3 , h4 ,h5 ,h1 a, h2 a, h3 a, h4 a,h5 { font-family: 'Candarab'; font-weight:bold}

.title-head h1 {color:#333333; font-size: 26px; padding-left:30px;}

.title-home h3, .sidebar-right h3 { font-size:26px !important; font-family: 'Candarab'; font-weight:bold; color:#333333 !important; padding-left:30px}


.blog-arc-more a {
margin: 9px 0;
background: #fff;
text-transform: uppercase;
text-decoration: none;
border:1px solid #aaaaaa;
float: left;
color: #888888;
padding: 6px 10px 4px 10px;
font-size: 12px;
}

/* typo */

h2.event-arc-title a {color: #000; font-size:21px}
.event-w-title a {color: #000;}
.event-w-day {color:#f5821f; font-family: 'open_sanssemibold', sans-serif; font-size:49px; font-weight:bold; width: 100%;}
.event-w-month {color:#004669; font-size:10pt; top:8px;font-family: 'Candarab'; margin-left:2px;}
.event-w-data {border-right: 1px solid #333;float: left;width: 70px; text-align: center; padding-right: 5px;}
.event-w-title {font-size: 19px; width:268px}

.event-w-data {border-right: 1px solid #a4a4a4;}

.content-home-right p {
font-size: 12px;
line-height: 20px;
color:#f1f1;
}


.bilety_link { background-color:#004669; display:block; padding:7px 5px 6px 5px; margin:2px auto;text-align:center; width:120px; color:#fff;font-family: 'candararegular';border:1px solid #004669; }

.bilety_link:hover { background-color:#fff; color:#004669; border:1px solid #004669;}

.video-widget-cover { height:131px;margin-bottom: 6px;}

.event-widgets {margin-bottom: 12px;height: 83px;}

#footer {border-top: 10px solid #004669;}
.footer-col { color:#000; background-color:#fff}
.footer-bottom {background-image:none;background-color:#aaaaaa; color:#000 }
#footer .textwidget { margin-bottom:0 }

.footer-col-left {
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 0px;
    float: left;
    width: 230px;
	padding-left:20px;
 }

.footer-col-left h5, .footer-col-right h5 { font-size:26px; font-weight:bold}
.footer-col-left p,{ font-size:12px;}
.footer-col-right p {font-size:14px;}
.footer-col-right span {font-weight:bold}
 
 .footer-col-loga {
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 0px;
    float: left;
    width: 400px;
	text-align:center;
 }
 
/*.footer-col-loga .org {
    width:326px; 
    margin:0 auto 20px; 
    height:57px;
}*/

.footer-col-loga .pat  {
   /* width:326px; */
    margin:0 auto 20px; 
    /*height:140px;*/
}

.footer-col-loga .pat div {
   display: inline-block;
}

.footer-col-loga .pat img{
    width: auto;
    max-height: 100px;
    display: inline;
    margin: 5px 0;
}

.footer-col-right { margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 0px;
    float: right;
    width: 290px;
}

.footer-bottom-copyright { float: left }
.realizacja { float:right; margin-top: -3px;}

#catapult-cookie-bar {display: none;
min-height: 30px;
height: 30px;
position:absolute;
bottom: 56px !important;
width: 100%;
z-index: 99999;
width:80%; 
padding: 6px 20px 4px;
background-color: #464646;
text-align: center;
font-size:11px;
}


.footer-bottom {background-color: #e5e5e5;color: #000;}
.facebook { position:absolute; left:50%; margin-left:-43px; margin-top: -2px;}


#footer span {color:#000}
#footer .footer-col-right p .contact {font-weight: bold; color: #000; font-family: 'Candarab';}
#footer .footer-col-right p span { color:#f5821f }
#footer .footer-col-right p span a { color:#f5821f }
#footer .footer-col-right p a:hover { color:#aaaaaa }
#footer .footer-col-right p a:visited { color: #f5821f;}

.energa, .sopot { width:49%; height:150px;  float:left; margin-top: 10px;}
.energa h5, .sopot h5 { }

.col-blog-archive .event-arc-month { color:#004669;
font-size: 12pt; top: 5px;font-family: 'Candarab';}
.event-arc-day { color:#f5821f;line-height: 34px; font-family: 'open_sanssemibold';margin-top:35px }

h2.blog-arc-heading a:hover,
h2.event-arc-title a:hover,
.title-home h3,
.sidebarnav h3,
.event-past h3,
.event-upcoming h3,
.footer-col h3,
.event-w-title a:hover, 
.list-nav ul li a:hover, 
.sidebar .widget_calendar table#wp-calendar>tbody>tr>td>a, 
.sidebar .widget_calendar tfoot>tr>td>a, tfoot>tr>td>a:link, tfoot>tr>td>a:visited, tfoot>tr>td>a:hover, tfoot>tr>td>a:active, .widget_calendar table#wp-calendar>tbody>tr>td>a, 
.blog-h-title a:hover, 
.footer-col a:hover,
.blog-home-title a:hover,
.widget-audio-title a:hover,
.button-link a,
ul.tabs li a,
.comment-meta a:active, .comment-meta a:hover,
.widget_calendar tfoot>tr>td#prev a:hover, 
.widget_calendar tfoot>tr>td#next a:hover,
#footer .blog-w ul li a:hover,
#footer .event-w-title a:hover,
#footer .widget-audio-title a:hover {
color:#000;
}
 
.event-tickets a:hover,
.event-tickets2 a:hover,  
.audiojsZ .loadedZ,
.audiojsW .progressW,
.pagination a:hover, 
.pagination .current, 
.event-home-title h2 a,
.event-home-more a,
.tagcloud a:hover, 
.audio-buy a:hover,
.reply a:hover,
.widget-audio-buy a:hover,
.button-send#submitmail:hover,
.highlight,
.button-link a,
ul.tabs li a,
a.pp_download,
p.form-submit input#submit:hover,
#footer .tagcloud a:hover,
#search-button:hover {
background:#000;
}

#clubbmenu > ul > li:hover > a, 
#clubbmenu > ul > li.active > a, 
#clubbmenu > ul > li > a:active, 
#clubbmenu > ul ul li a:hover {
background:#4f7f97;   
}

.blog-home-more a, 
.blog-arc-more a:hover {
background:#cecece;   
border-color:#cecece;
}

.event-widgets {
margin-bottom: 5px;
height: 83px;
clear: left;
}

@font-face {
	font-family: 'candararegular';
	src: url('font/CANDARA.eot');
	src: local('font/CANDARA'), url('font/CANDARA.woff') format('woff'), url('font/CANDARA.ttf') format('truetype');
}

.fontsforweb_fontid_1398 {
	font-family: 'CANDARA' !important;
}

@font-face {
	font-family: 'Candarab';
	src: url('font/Candarab.eot');
	src: local('font/Candarab'), url('font/Candarab.woff') format('woff'), url('font/Candarab.ttf') format('truetype');
}


@font-face {
    font-family: 'open_sanssemibold';
    src: url('font/opensans-semibold-webfont.eot');
    src: url('font/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-semibold-webfont.woff') format('woff'),
         url('font/opensans-semibold-webfont.ttf') format('truetype'),
         url('font/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}


 @media (min-width:800px) and (max-width:1020px) {
		.footer-col-loga {width:40%; }
		.footer-col-left, .footer-col-right { width:23%; }
 }

 @media (max-width:800px) {
     body { background-image:none;background-color:#5595a6}
     .footer-col-loga {width:70%; margin:0 15%; padding:0; }
     .footer-col-left, .footer-col-right {width:86%; margin:0 7%; padding:0; text-align:center}
     .footer-col-left img { width:60%; margin:0 20%}
     .footer-col-left h5, .footer-col-right h5 { font-size:26px; margin-top:20px}
     .footer-widget {margin-bottom: 0px;}
     .footer-bottom {border-top:50px solid #fff}
     #header, #wrap { margin: 0px auto; }
     #lan { right: 3%; left: auto !important; position: absolute; top: 10px !important; }
     #btn-menu { border-radius: 0px !important; line-height: 17px; padding: 12px 0 8px !important; }
     .title-home, .title-head { margin-bottom: 0 !important; }
     .title-home h3, .title-head h1 { padding: 10px 3% 0 ; color: #fff !important; }
 }
 
  @media (max-width:500px) {
    .widgets-col {margin-bottom: 8px;}
    .footer-col-loga .sopot, .footer-col-loga .energa {width:70%; margin:0px 15%; float:left; height:150px }
    #catapult-cookie-bar {min-height: 54px !important}
    #clubbmenu ul li a { padding: 12px 0 8px; font-size: 15px !important; line-height: 15px; background: #07567e; }
    #clubbmenu ul li {background: none;margin-left: 3px;padding: 0;font-family: 'candararegular'; background-color:#034d73;font-size:19px !important}
    /*#clubbmenu ul li a:hover {background: url("../images/bg-dark-menu-drop.png");}*/
    #clubbmenu ul li ul { margin-left: 0;padding: 0}
    #clubbmenu ul li ul a { font-size: 19px; color: #07567e !important; background-color: #fff !important; }
	  
  }

